[2019-10-09 18:53] travisariggs opened #2 "ValueError: Didn't find custom op for name 'edgetpu-custom-op' with version 1"
I am trying to run my first test of the USB Accelerator using the `classify_image.py` script and I'm getting an error trying to initialize the the Interpreter:
[code]

I believe I have installed everything following this tutorial:  https://coral.withgoogle.com/docs/accelerator/get-started/ including the installation of the runtime from https://www.tensorflow.org/lite/guide/python.  I chose the `tf

[2019-10-14 23:00] mrharicot commented on #2
I have the exact same issue

[2019-10-15 13:42] Namburger commented on #2
Hummn, I couldn't reproduce with python3.6
Looks like the problem occurs during `load_delegate('libedgetpu.so.1.0')`, could you confirm that it is installed?
For reference:
[code]

[2019-10-15 14:14] Namburger commented on #2
Also, could you attach the output of `strace`?

[2019-10-15 16:27] mrharicot commented on #2
I have verified that libedgetpu.so is installed, I followed the [last blog post on coral](https://coral.withgoogle.com/news/updates-09-2019/)
Here is the strace output.
[strace.txt](https://github.com/google-coral/tflite/files/3730398/strace.txt)

Thanks for your help!

[2019-10-15 17:03] Namburger commented on #2
@mrharicot are you sure you are getting the same error? From your `strace.txt`, I'm seeing this:
[code]
Which would actually be a different issue; in either case though, I cannot recreated even with python 3.5.3

[2019-10-15 17:07] mrharicot commented on #2
My bad, this was without the non edge tpu model. Here is the strace for the edge tpu model:
[strace.txt](https://github.com/google-coral/tflite/files/3730576/strace.txt)

[2019-10-15 18:07] Namburger commented on #2
@mrharicot @travisariggs
Could you guys try the `edgetpu` api instead of the tflite_runtime api?
https://github.com/google-coral/edgetpu/blob/master/examples/classify_image.py
At the moment I'd like to pin point the issue down to see if it's a tflite problem or libedgetpu problem

[2019-10-15 18:18] mrharicot commented on #2
@Namburger Nice catch! The edgetpu api seems to be working fine for both the tflite and the edgetpu models.

[code]

[2019-10-15 18:46] Namburger commented on #2
@mrharicot nice! So the issue looks to be with `tflite_runtime` rather than the libedgetpu, weirdly I cannot recreate the issue even with python3.5 or python3.6 (although I have a different host machine).
I'll file an internal bug on this one and will give you update if we can find something. Thanks for submitting the issue!

P.S. The difference between the 2 models `*.tflite` and the `*edgetpu.tf

[2019-10-15 19:17] dmitriykovalev commented on #2
According to your second trace file:

[code]
Can you please try the original example with the full path to `libedgetpu.so` (please double check it exists):

[code]

[2019-10-15 23:20] mrharicot commented on #2
@dmitriykovalev I get the same error

[2019-10-23 10:46] mrazekv commented on #2
I got the same issue with Ubuntu 19.04, python 3.7 and wheel package [tflite_runtime-1.14.0-cp37-cp37m-linux_x86_64.whl ](https://dl.google.com/coral/python/tflite_runtime-1.14.0-cp37-cp37m-linux_x86_64.whl).

The library was loaded correctly
`openat(AT_FDCWD, "/usr/lib/x86_64-linux-gnu/libedgetpu.so.1", O_RDONLY|O_CLOEXEC) = 3`

The `edgetpu` API is working correctly, but `tflite_runtime` not.

[2019-10-23 15:57] Namburger commented on #2
@mrazekv @mrharicot @travisariggs
I wonder if there would be a problem with `tflite` api also. Could you with with this script (this is just a modified version of the original script, using tflite instead of tflite_runtime):
[code]

[2019-10-24 10:57] Namburger commented on #2
@mrazekv tensor flow and tflite_runtime versioning are a little different. I believe it required tfnightly v1.15 (tfnightly is the nightly build version of tensor flow) at minimum to get load_delegates. This is most likely why you don't have load_delegates with tf1.14.  I'm actually using tf2.0 for this script, maybe try upgrading tf?

[2019-10-24 11:56] mrazekv commented on #2
@Namburger I installed `tf-nightly` package using pip3 in a virtual environment and your script is going fine.

[code]

Thank you very much for your help.

[2019-10-24 13:06] Namburger commented on #2
@mrazekv No problems, thanks for helping me diagnose the issue. The only difference here is we're using tf's:
[code]
instead of
[code]
I believe `tflite_runtime` is the issue, but we're unable to reproduce this on our end o_0

[2019-10-30 11:43] jjimin opened #3 "Error: Using Coral USB Accelerator in Docker (ValueError: Failed to load delegate from libedgetpu.so.1)"
#### System information
- Ubuntu 16.04
- Docker CE 19.03.3 (container using the image `tensorflow/tensorflow:nightly-devel-gpu-py3`)
   - In the container:
      - Python 3.5.2

I am trying to get started with my USB Accelerator using the `classify_image.py` source code in a Docker container.
My Dockerfile for this project is like this:
[code]
And I made the container with this command:
`docker ru

[2019-10-30 13:29] Namburger commented on #3
@jjimin
A few normal diagnostic for `ValueError: Failed to load delegate from libedgetpu.so.1`:

1) Could you check if libedgetpu is properly installed with ll `/usr/lib/{GNU-TYPE}/libedge*`? for reference:
[code]
2) We normally get this error if the linux user in the system isn't in the `plugdev` group, which could be an easy with either running in sudo or adding the user into the plugdev group.

[2019-10-30 14:47] Namburger commented on #3
@jjimin UPDATE:
I ran into your exact issue, and was able to fix with slight modification to the Dockerfile (for dependencies issue). It appears that the docker container just didn't have access to usb device. Here is my System information:

- Ubuntu 18.04.3 LTS

- Docker CE 19.03.4 with same exact image

- Dockerfile:
[code]

- Build:
[code]
- Run image (the `--privileged` flag was probably what

[2019-11-20 03:27] Tylersuard opened #4 "Getting Started tutorial leads to errors"
python3 classify_image.py \
--model models/mobilenet_v2_1.0_224_inat_bird_quant_edgetpu.tflite \
--labels models/inat_bird_labels.txt \
--input images/parrot.jpg

Response:
AttributeError: 'Delegate' object has no attribute '_library'

[2019-11-20 03:31] Tylersuard commented on #4
Using Raspberry Pi 4B

[2019-11-20 11:24] DebojitBiswas opened #5 "Coral is not speeding up the detection"
Hi Team,

I was using webcam for detection problem. I used most of the code and changed a bit for the detection model using webcam. But "Coral" is not speeding up the detection. Without coral, I was getting 4 FPS and with coral also it is the same. I used [https://coral.withgoogle.com/docs/accelerator/get-started#requirements](url) to setup the "Coral stick".

My code has <def make_interpreter(mod

[2019-11-20 12:19] Namburger commented on #4
@Tylersuard could you check if you system can recognize the USB accelerator?

[2019-11-20 12:25] Namburger commented on #5
@DebojitBiswas
This is possibly related to this:
https://github.com/google-coral/edgetpu/issues/18

Did you run the model through the edgetpu_compiler? If so can you share the log?

[2019-11-20 22:46] DebojitBiswas commented on #5
Thank you for updating. I found the issue. I was running "tflite" model, whereas  I should run "Edge TPU model".

[2019-11-21 18:49] wb666greene commented on #2
Any chance of getting the instructions at: [https://www.tensorflow.org/lite/guide/python](url) fixed?  I just followed the instructions and hit this issue when setting up the Coral TPU uisng these instructions: [https://coral.withgoogle.com/docs/accelerator/get-started/](url)

Very frustrating!

How exaclty do I install tf-nightly or 1.15, whatever it takes to fix it?

I tried: sudo -H pip3 instal

[2019-11-21 18:56] Namburger commented on #2
@wb666greene Can you share the output of:
[code]

[2019-11-21 19:23] wb666greene commented on #2
I just un-installed tf-nightly.
But I get this:

Traceback (most recent call last):
  File "<string>", line 1, in <module>
AttributeError: module 'tensorflow' has no attribute '__version__'

The instructions say to install:
pip3 install tflite_runtime-1.14.0-cp35-cp35m-linux_x86_64.whl

If I open python3 interactive both
import tflite_runtime
and
import tensorflow
succeed, but neither seem to have

[2019-11-21 19:59] Namburger commented on #2
@wb666greene
So we've updated our runtime library, which has a tons of improvements. This is just normal software upgrades. However, it looks like that with the new runtime, `tflite_runtime` has not catch up and that's what causing this issue. The weird thing about this is that I'm not able to reproduce this on my side. This is why I suggested above to:
a) either using the [edgetpu](https://coral.

[2019-11-21 20:18] wb666greene commented on #2
Now I get the 1.15 version of tennsorflow but the sample code fails:
`tflite/python/examples/classification$ python3 classify_image.py --model models/mobilenet_v2_1.0_224_inat_bird_quant_edgetpu.tflite --labels models/inat_bird_labels.txt --input images/parrot.jpg
Traceback (most recent call last):
  File "/usr/local/lib/python3.5/dist-packages/tflite_runtime/interpreter.py", line 165, in load_del

[2019-11-21 20:22] Namburger commented on #2
@wb666greene Using the `tflite` API instead of `tflite_runtime`, you'll have to change the script to [what I mentioned above](https://github.com/google-coral/tflite/issues/2#issuecomment-545513883)
I mentioned this to you but this API is documented here:
https://coral.withgoogle.com/docs/edgetpu/tflite-python/

[2019-11-21 20:57] wb666greene commented on #2
I cut and pasted your script and named it x.py, when I run it it errors{

TF VERSION:  1.15.0
Initializing TF Lite interpreter...
Traceback (most recent call last):
  File "/home/wally/.local/lib/python3.5/site-packages/tensorflow_core/lite/python/interpreter.py", line 165, in load_delegate
    delegate = Delegate(library, options)
  File "/home/wally/.local/lib/python3.5/site-packages/tensorflow_

[2019-11-21 21:08] Namburger commented on #2
@wb666greene lol I had this issue before and I thought it was a tensorflow issue (Turned out I didn't have my accelerator pplugged in).
Other reasons are your user not in plugdev group or usb not detected on your system.
Try this:
[code]
and reboot the system.

[2019-11-21 21:44] wb666greene commented on #2
Other edgetpu_api TPU code is running fine with this system, so its not that.  But I've certainly made this mistake multiple times in the past!

I managed to get the broken tflite_runtime removed and now your cut and pasted script runs:

TF VERSION:  1.15.0
Initializing TF Lite interpreter...
----INFERENCE TIME----
Note: The first inference on Edge TPU is slow because it includes loading the model

[2019-11-21 22:17] Namburger commented on #2
@wb666greene woot woot!
try replacing the [classify_image.py](https://github.com/google-coral/tflite/blob/master/python/examples/classification/classify_image.py) from this repo with this:
https://gist.github.com/Namburger/20788172fccf1ca0c9e13b7b14d1b70a

[2019-11-22 04:53] wb666greene commented on #2
@Namburger Thanks, I merged the changes in your github with the downloaded example from the web-page instructions and it runs fine now.

I'd never would have figured out replacing:
tflite.load_delegate()
with:
tf.compat.v2.lite.experimental.load_delegate()

How will I know if/when the tflite_runtime gets fixed for 2.11.2? or will it be when 2.11.3 comes out?

I have an "if it ain't broke don't fix

[2019-11-22 15:29] Namburger commented on #2
@wb666greene my apologies, I understand, it's really hard to keep up with older references of the same library when the documentation continues to change. Our library is still involving and we're trying to expands the scope of operations that we can support as mentioned [here](https://coral.withgoogle.com/docs/edgetpu/models-intro/#supported-operations) which is one of the main reason why we're co

[2019-11-22 17:34] wb666greene commented on #2
Nothing to apologize for.  You are trying to support two extremes,  experts that have used tensorflow before the "edge" AI co-processors were available and newbies like myself who are jumping in to see what value existing "public" models can add to systesm.

My specific interest at the moment is to use "person detection" to push the false notification (alarm) rate towards zero for existing video s

[2019-11-25 19:53] #5 closed

[2019-12-05 23:49] Tylersuard opened #6 "How do I do real-time object detection from my pi camera?"
Using Pi 4.  Looking for instructions on how to do this.

[2019-12-06 16:37] Namburger commented on #6
@Tylersuard
Did you get to check this out?
https://github.com/google-coral/examples-camera/tree/master/gstreamer

[2019-12-22 03:35] guomxin opened #8 "Cannot build lstpu successfully on Raspberry 3 model B"
Raspberry Pi 3 Model B
OS: Raspbian(Buster)
Bazel: 0.26.0
GCC: 8.3.0

make CPU=armv7a，report following errors:
INFO: Analyzed target //:lstpu (7 packages loaded, 79 targets configured).
INFO: Found 1 target...
ERROR: /root/.cache/bazel/_bazel_root/b74c6408939043eedfe3e11190196b71/external/org_tensorflow/tensorflow/lite/c/BUILD:6:1: undeclared inclusion(s) in rule '@org_tensorflow//tensorflow/lite/

[2019-12-23 14:56] Namburger commented on #8
@guomxin hi, are you trying to build from the rpi itselft?
This were meant to be cross compiled on an x86 host machine and then copy the binary over to the target machine for execution.

[2019-12-24 09:09] guomxin commented on #8
@Namburger Thanks. Yes, i'm trying to build from the rpi. It's not expected, right?

[2019-12-24 14:13] Namburger commented on #8
@guomxin yes, that isn't going to work!

[2019-12-27 01:22] guomxin commented on #8
Got it. thanks. I have built successly on x86 host machine.

[2019-12-27 01:22] #8 closed

[2020-01-14 11:08] mazzingkaizer commented on #2
In my case, the docker encountered ValueError: Didn't find custom op for name 'edgetpu-custom-op' with version 1 error.

1. make docker container with following options
sudo docker run -d -it --privileged -v /dev:/dev -v /etc/udev:/etc/udev

2. in container, install tensorflow==2.0.0 because of "Didn't find custom op for name 'edgetpu-custom-op' with version 1 error."

pip install tensorflow==2.0.

[2020-01-17 16:22] jjrugui commented on #3
@Namburger how did you verify that the container didn't have access to usb devices? I'm currently testing it in a container (on rpi4) in which I can see the device being recognized (I see the coral USB with `lsusb`) but I get the same error `ValueError: Failed to load delegate from libedgetpu.so.1`.

I'll make an independent issue if I can't figure it out in the next couple of days.

[2020-01-17 16:51] Namburger commented on #3
@jjimin
As I mentioned, I ran to the same exact issue, and was able to fix with the `--privileged` flag, this give me an idea that maybe docker did not have access to usb devices. I don't think you should make an independent issue since it would make it harder to reference. You see, running our edgetpu library in virtual containers are actually not officially supported, I was giving some pointers

[2020-01-20 10:58] jjrugui commented on #3
Hi @Namburger , thanks for your quick reply.

I'll be debugging it later this evening (CET), so I'll be able to provide more info. I'm using docker compose to build the container and I'm mounting the volume `/dev/bus/usb` as well as running it with `--privileged`.

Thanks again for your quick response :) I'll update info and/or fix if I found it later today.

[2020-01-22 12:02] jjrugui commented on #3
@Namburger thanks for your input. I could run on the TPU inside a container by using the API instead of using `tflite_runtime` and it works without a problem, as you stated in https://github.com/google-coral/tflite/issues/2#issuecomment-545513883 .

[2020-02-05 12:31] lsq314 opened #9 "RuntimeError: Internal: Unsupported data type: 0Node number 1 (EdgeTpuDelegateForCustomOp) failed to prepare."
Hi all,

I am using the Coral Dev Board with the Mendel OS 4.0 (Day) version and tflite_runtime version 2.1.0. However, when I run the following example (officially provided)
`python3 classify_image.py   --model models/mobilenet_v2_1.0_224_inat_bird_quant_edgetpu.tflite   --labels models/inat_bird_labels.txt   --input images/parrot.jpg`
I get the following error message.
`Traceback (most recent ca

[2020-02-05 12:32] lsq314 commented on #9
Plus, I could run the inference using the "edgetpu api" well.

[2020-02-05 12:33] Namburger commented on #9
@lsq314 have you upgraded your libedgetpu runtime to version 13?

[2020-02-05 12:36] lsq314 commented on #9
@Namburger Yes. This is the output when I run `dpkg -l | grep edgetpu`.
"ii  edgetpu                              13.0                        all          Edge TPU compiler and runtime
ii  edgetpu-compiler                     13.0                        arm64        Edge TPU model compiler
ii  edgetpudemo                          3-1                         all          Edge TPU demo script
ii  li

[2020-02-05 12:38] Namburger commented on #9
Ahh, can you also upgrade `libedgetpu1-std` also?

[2020-02-05 12:38] lsq314 commented on #9
@Namburger I find that no. I will try this.

[2020-02-05 12:41] lsq314 commented on #9
@Namburger Thank you very much. It's been figured out.

[2020-02-05 12:41] #9 closed

[2020-02-05 19:13] Namburger commented on #3
@jjrugui hi, make sure you are using an updated version of the [tflite_runtime](https://www.tensorflow.org/lite/guide/python) library also, this will mostlikely solve your tflite runtime API issue. The new package should now be this:
```https://dl.google.com/coral/python/tflite_runtime-2.1.0-cp35-cp35m-linux_x86_64.whl```

[2020-02-06 08:23] gasgallo opened #10 "OSError: [WinError 126] The specified module could not be found on WINDOWS"
I'm trying to run python examples on Windows 10. EdgeTPU setup seems successfull, the device is detected in device manager. But when I try to run one of the examples, I get the error as in the title:
[code]
followed by:
[code]
The full log:
[code]
If I unplug the edgeTPU and run the same python command, I get exactly the same error, so it's like the device isn't detected by `tflite-runtime` or `tf

[2020-02-06 08:44] gasgallo commented on #10
I didn't update `EDGETPU_SHARED_LIB` to the proper library..

[2020-02-06 08:44] #10 closed

[2020-02-10 16:20] Olivier-Dopeli opened #11 "How to get the power consumed by the Coral Dev Board?"
Hi,

I would like to get the inference/watts value of the different neural networks I would implement on the Coral Dev Board.
I was able to find the measurement of the temperature (cat /sys/class/thermal/thermal_zone0/temp) but not the power consumption.

Can someone tell me how to get the power consumed when running a program on the Coral Dev Board?

Thank you in advance.

[2020-02-10 16:30] Namburger commented on #11
@Olivier-Dopeli
Unfortunately, there are no api for measuring power consumsion via software. You may get an estimate via [powertop](https://wiki.archlinux.org/index.php/Powertop) but to get accurate measurements, I suggest getting a wall outlet power meter.

[2020-02-12 08:22] Olivier-Dopeli commented on #11
Hi,
Thanks for your prompt response.
If I understand correctly, the Coral Dev Board has no internal measurement of its power consumption and therefore there is no way to go through a simple command line.

[2020-02-12 08:22] #11 closed

[2020-02-12 12:00] Namburger commented on #11
That's correct, thanks

[2020-02-12 20:43] inktomi commented on #4
I get a similar error trying to run the sample on a PixelBook.

[code]

[2020-02-13 06:35] jdcast opened #12 "No objects detected on retrained object detector guide"
I'm trying to execute the retrained object detector obtained by this [google coral guide](https://coral.ai/docs/edgetpu/retrain-detection/) on the Coral USB Accelerator connected to a Raspberry Pi 3 B+.

Unfortunately, I just get the following output when trying to run the compiled model using the `detect_image.py` script installed in the [device setup guide](https://coral.ai/docs/accelerator/get-

[2020-03-30 08:23] Olivier-Dopeli opened #13 "Difference between a .tflite file and a .tflite file compiled for Edge TPU"
Hello

I acquired the Coral Dev Board, and I am looking at the examples available on the Coral website.
And I wonder, how can I tell the difference between a .tflite file and a .tflite file compiled for Edge TPU?

Thank you in advance

[2020-03-30 14:46] Namburger commented on #13
Hi Oliver, I  suggest using the tflite's [visualize](https://www.tensorflow.org/lite/guide/faq) tool or [netron](https://www.tensorflow.org/lite/guide/faq) to visualize the model.
Using one of our canned mobilenet v2 ssd as an example, a `netron` out put for the tflite model will shows all ops:
![t](https://user-images.githubusercontent.com/25712149/77925978-28374780-726b-11ea-97f4-9aa6b37f42c3.pn

[2020-03-31 14:35] Namburger commented on #12
Hi @jdcast sorry for the late response, I somehow did not see this query o_0
Similar to the classification retrain, we have plan to deprecate this tutorial, open source it and provide a colab version, this is why you see it's out dated. As for the issue, what `NUM_TRAINGING_STEPS` and `NUM_EVAL_STEPS` did you set?

[2020-04-01 10:37] matt-hewett commented on #4
Hi, I had a similar error following the 'getting started' guide on a Dell Inspiron 15 7000 running Ubuntu 18.04. I found the issue to be with the standard frequency libedgetpu1-std library installed in step 1.2 of the guide. My observations were:

After following the guide and attempting to run the classify_image.py I got the following error:

python3 classify_image.py --model models/mobilenet_v2_

[2020-04-01 11:11] Namburger commented on #4
@matt-hewett weird, both library should be installed to the same directory 👀
Did you use the install.sh script or the apt-get?

[2020-04-01 12:34] matt-hewett commented on #4
@Namburger I used apt-get. I agree that it's weird. I just double checked by uninstalling the max frequency edge tpu runtime using _sudo apt-get remove libedgetpu1-max --purge_ so that the libedgetpu.so.1 shared object file was removed from my _/usr/lib/x86_64-linux-gnu/_ directory. I then reinstalled using the standard edge tpu runtime version via _sudo apt-get install libedgetpu1-std_. After thi

[2020-04-01 13:20] Namburger commented on #4
Maybe a `dpkg -l | grep edgetpu` will tell us something next time it happens, but I doubt there will be a next time now that it's working lol

[2020-04-07 12:25] Olivier-Dopeli commented on #13
Hello,

Thank you for your reply. I was able to test the two methods (visualize tool and netron) and they allow a good visualization of the networks .
With one of these two methods or another, is it possible to see the on-chip memory and off-chip memory allocation of the edge TPU from a _edgetpu.tflite file?

[2020-04-13 15:37] cburgdorfer opened #14 "ModuleNotFoundError: No module named 'tflite_runtime'"
After following the instructions on https://coral.ai/docs/accelerator/get-started/#on-mac, I get the following error on macOS 10.15, python 3.7.3:

[code]

Does anybody have an idea what the issue could be and how it can be fixed?

[2020-04-13 16:20] Namburger commented on #14
Do you know where the tflite_runtime package was installed?
It may just not be presented in your python path.
Please show me the outputs of this command:
[code]
And
[code]

[2020-04-13 16:49] cburgdorfer commented on #14
Thanks for your quick response, and your offer to help! Much appreciated! The first command outputs nothing, the second provides a bunch of paths.

[code]

[2020-04-13 18:25] Namburger commented on #14
@cburgdorfer Sorry, was in a meeting.
First command outputs nothing either means that you don't have it installed or you have multiple python version installed and only 1 of it knows?
For macOS with python3.7.3, you should be using this:
[code]
Can you try that again, take notes of the outputs to make sure we know where it's installed?

[2020-04-14 02:04] cburgdorfer commented on #14
Thanks again, @Namburger , I have found out what the problem was thanks to your comment:

The documentation says I should run the `pip install ...` command, but thanks to your comment, I've found out, I need to call `python3 -m pip install ...`

This was the output accordingly:

[code]
Thanks again! Much appreciated!

[2020-04-14 02:04] #14 closed

[2020-04-14 03:37] Namburger commented on #14
Ahh I see confusion, your pip is most likely pip2 and not pip3, so then when your python3 try to load the package, it couldn't find it lol

[2020-04-22 21:26] avrdct opened #15 "lstpu README update"
In the below documention , the binary location mentioned as `bazel-output`, but I think the binary is inside `bazel-bin`

cpp/examples/lstpu/README.md

Target //:lstpu up-to-date:
  bazel-bin/lstpu

[2020-04-23 18:47] Namburger commented on #15
@avrdct thanks for watching out, the binary is actually in multiple locations but it's also in:
[code]
as specified in our [makefile rule](https://github.com/google-coral/tflite/blob/master/cpp/examples/lstpu/Makefile#L21)

[2020-04-23 18:56] #15 closed

[2020-04-27 21:44] petewarden opened #16 "EdgeTpuDelegateForCustomOp failed to prepare"
When following the guide at https://coral.ai/docs/dev-board/get-started#6-run-a-model-using-the-tensorflow-lite-api I see the following error instead of the expected classification results:

[code]

[2020-04-27 23:16] Namburger commented on #16
@petewarden
Can you share the outputs of these commands:
[code]

[2020-04-27 23:26] petewarden commented on #16
Sure, thanks!

[code]

[code]

[2020-04-27 23:57] Namburger commented on #16
@petewarden
So the issue is that you got mismatching version of `libedgetpu1-std:arm64 ` and `tflite_runtime`.
The fix for this should be as easy as an apt update and reinstall your package:
[code]
Here is the correct version for reference:
[code]

[2020-04-28 00:09] petewarden commented on #16
Awesome, thanks, that works! Closing.

[2020-04-28 00:09] #16 closed

[2020-05-05 03:44] ncomly opened #17 "whl file not supported"
In following the coral board setup instructions, [step 4](https://coral.ai/docs/dev-board/get-started#6-run-a-model-using-the-tensorflow-lite-api), running the following command fails saying it "is not a supported wheel on this platform":
`pip3 install https://dl.google.com/coral/python/tflite_runtime-2.1.0.post1-cp37-cp37m-linux_aarch64.whl`

All instructions on the coral board have been followed

[2020-05-05 12:11] Namburger commented on #17
Hi @ncomly can you share the outputs of these commands:
[code]

[2020-05-05 14:34] ncomly commented on #17
`> Python 3.5.3`

[2020-05-05 15:27] Namburger commented on #17
@ncomly ahh, it's because you're trying to install the pip package for python3.7 but you have python 3.5. This should fix your issue:
[code]

**On another note,** the Dev Board should comes with python3.7, I have a feeling that you've installed an older version of the OS. It shows that you are using kernel version `4.9.51` which was mendel3.0 (chef). I highly suggest re flashing the board with the

[2020-05-05 20:57] ncomly commented on #17
That did it. Thank you!

[2020-05-05 20:57] #17 closed

[2020-05-14 23:05] natxopedreira opened #18 "abnormal inference speed on rpi 3b using usb accelerator"
Hello

Im running a raspbery pi3b with Buster, python 3.7 and fresh usb accelerator install
[https://coral.ai/docs/accelerator/get-started/ ](https://coral.ai/docs/accelerator/get-started/ )

pip3 freeze result
`tflite-runtime==2.1.0.post1`

Im running this example
[https://github.com/google-coral/tflite/tree/master/python/examples/detection](https://github.com/google-coral/tflite/tree/master/pyth

[2020-05-14 23:54] natxopedreira commented on #18
i will post it on edgetpu repo seems more logical

[2020-05-14 23:54] #18 closed

[2020-05-15 11:45] Namburger commented on #18
@natxopedreira which model did you run?

[2020-05-15 11:52] natxopedreira commented on #18
Sorry i closed this as i posted on the other repo, i reply to you in the other one
[https://github.com/google-coral/edgetpu/issues/115](https://github.com/google-coral/edgetpu/issues/115)

Thanks

[2020-05-15 23:43] Namburger commented on #13
@Olivier-Dopeli
There isn't an api to query that at this time, unfortunately, but if you compile the model with the `-s` option, it should tells you the ops that will be on CPU vs TPU

[2020-05-15 23:44] #6 closed

[2020-05-15 23:45] #4 closed

[2020-05-15 23:46] #3 closed

[2020-05-15 23:46] #2 closed

[2020-05-28 03:45] Ekta246 commented on #13
@Namburger How do

Hi,
I have a .tflite model file for efficientdet-d0 . I was wondering how can I make it edge-tpu compiled?

[2020-05-28 09:46] ChiHangChen opened #20 "Convert keras model to quantized tflite lost precision"
I'm trying to convert my keras model into tflite quantized model so that I can run my model on coral TPU, but the output of my keras model and tflite model are significantly different.

The red points are quantized tflite model output, and blue points are original keras model output.

[img is here](https://i.stack.imgur.com/AdFyR.png)

Here is my code to convert keras model to quantized tflite mod

[2020-05-28 15:04] Namburger commented on #20
@ChiHangChen
Your usage definitely looks correct, so I believe this is a bug with tflite conversion. Unfortunately, this issue is out of our hand, please open an issue [here](https://github.com/tensorflow/tensorflow/issues).
My suggestion is to add some extra calibration steps also?
[code]

[2020-05-28 15:38] ChiHangChen commented on #20
I did, I add calibration_steps up to 20000 but it still the same.

[2020-05-28 15:41] ChiHangChen commented on #20
I use tensorflow-gpu==2.2.0 BTW.

[2020-05-28 18:52] Namburger commented on #20
@ChiHangChen hummm, just fyi, with tf2.x, these parameters are deprecated:
[code]
if you visualize your model with [netron](https://github.com/lutzroeder/netron), I/O will still be float, are you aware of that?
Could I see how you're setting the input tensors?

[2020-06-27 14:09] james-bjss opened #21 "RuntimeError: Internal: Unsupported data type: 0Node number 1 (EdgeTpuDelegateForCustomOp) failed to prepare."
Hi, When testing out my USB Coral device on Windows10 executing the classification example results in the following error:

`c:\Users\James\tampopo\tf\coral\tflite\python\examples\classification>python classify_image.py --model models/mobilenet_v2_1.0_224_inat_bird_quant_edgetpu.tflite --labels models/inat_bird_labels.txt --input images/parrot.jpg
Traceback (most recent call last):
  File "classif

[2020-06-27 14:38] james-bjss commented on #21
It seems like reverting to older drivers (`2.13.0 (Jan 2020)`) resolved this issue.
However I was simply following the setup guide https://coral.ai/docs/accelerator/get-started/ which links to the latest 2.14.0 drivers and suggests running this example so others may fall foul of this.

[2020-06-29 11:03] mattheys commented on #16
For windows users trying to run the demo, download 2.14.0 not 2.14.1 from here https://dl.google.com/coral/edgetpu_api/edgetpu_runtime_20200331.zip

[2020-06-29 11:54] Namburger commented on #16
@mattheys are you having issues with 2.14.1? They should be the same library with 2.14.1 added window supports for pcie

[2020-06-29 12:15] mattheys commented on #16
Yes, I got the following error with 2.14.1, downgrading to 2.14.0 worked fine with the edgetpu models here ```https://github.com/google-coral/edgetpu/raw/master/test_data```.

```python classify_image.py --model models/mobilenet_v2_1.0_224_inat_bird_quant_edgetpu.tflite --labels models/inat_bird_labels.txt --input images/parrot.jpg```

[code]

Sorry do you want me to open a new issue?

[2020-06-29 14:53] Namburger commented on #16
@mattheys are you using a pcie module or a USB Accelerator?
Let me confirm with our team to make sure that this isn't expected first, thanks for reporting

[2020-06-29 15:12] Namburger commented on #21
Hey, `2.14.1` should have been the same as `2.14` with added window supports. This issue is not expected, but please allow me to check with my team. I guess the added supports for pcie must have caused this, another user have experienced the same: https://github.com/google-coral/tflite/issues/16#issuecomment-651078588

[2020-06-29 16:38] james-bjss commented on #21
Sure, will try this evening and report back.

[2020-06-29 17:04] james-bjss commented on #21
@Namburger - I can confirm that `2.14.0` is also working. So is just `2.14.1` that is affected.

[2020-06-29 17:06] Namburger commented on #21
@james-bjss perfect, thanks for confirmation, I'll report this with our team

[2020-06-29 21:31] Namburger commented on #21
@james-bjss as it turned out, we uploaded the wrong zipfile for that link :)
We just updated it, everything should works now if you redownload the zip file for `1.14.1`!

[2020-06-29 21:48] james-bjss commented on #21
@Namburger - Oops! Just tested with the new Zip and it's working fine. Think this one can be closed now. Thanks for your help.

[2020-06-30 02:47] Namburger commented on #21
Perfect! Thanks for confirmation :)

[2020-06-30 02:47] #21 closed

[2020-06-30 08:16] mattheys commented on #16
It's a USB Accelerator

[2020-06-30 11:38] Namburger commented on #16
@mattheys as it turned out, we uploaded the wrong zip file lol
If you redownload it again and reinstall it'll works :)

[2020-07-09 11:52] namigalyv commented on #17
Hi @Namburger , this doesn't work for me.

My references

`mendel@arid-goose:~$ python3 --version`
`Python 3.5.3`

`mendel@arid-goose:~$ uname -a`
`Linux arid-goose 4.9.51-imx #1 SMP PREEMPT Thu Jan 31 01:58:26 UTC 2019 aarch64 GNU/Linux`

`mendel@arid-goose:~$ cat /etc/os-release`
`PRETTY_NAME="Mendel GNU/Linux 2 (Beaker)"`
`NAME="Mendel GNU/Linux"`
`VERSION_ID="2"`
`VERSION="2 (beaker)"`
`ID=men

[2020-07-09 12:11] Namburger commented on #17
You are using a very very old version of MendelOS, maybe you followed an outdated tutorial?
I suggest you flash the newest image: https://coral.ai/docs/dev-board/reflash/#update-your-dev-board-with-apt-get

[2020-07-09 16:59] namigalyv commented on #17
Thanks your comment.
Yes, my mendelOS very old. Unfortunately, I followed this tutorial.
https://medium.com/@aallan/hands-on-with-the-coral-dev-board-adbcc317b6af

I can't update mendelOS because `mdt devices` can't find any devices.
and I read this comment : https://medium.com/@Igor.Alovert/beware-these-instructions-use-an-older-release-of-mendel-linux-beaker-18-ab7fa57cb930

is that true? I real

[2020-07-09 17:09] Namburger commented on #17
@namigalyv fortunately, you won't need `mdt` for that :)
just do (make sure the USB-A - USB-micro-B is plugged in)
[code]
that'll get you to the serial console of the dev board, username and password are both `mendel`.
Then you can reboot the board into fastboot mode with:
[code]
And now your board is ready to be flashed with the new image!

[2020-07-09 17:46] namigalyv commented on #17
@Namburger It works!
Thank you very much for your help :)

`mendel@jumbo-zebra:~$ cat /etc/os-release`
`PRETTY_NAME="Mendel GNU/Linux 4 (Day)"`
`NAME="Mendel GNU/Linux"`
`ID=mendel`
`ID_LIKE=debian`
`HOME_URL="https://coral.withgoogle.com/"`
`SUPPORT_URL="https://coral.withgoogle.com/"`
`BUG_REPORT_URL="https://coral.withgoogle.com/"`
`VERSION_CODENAME="day"`

I'm very appreciative!

[2020-07-09 17:50] Namburger commented on #13
@Ekta246 Sorry for the late response here, did you get to check out the [edgetpu-compiler](https://coral.ai/docs/edgetpu/compiler/) documentation page?

[2020-07-09 19:29] sterlingrpi commented on #17
Hi all

I just flashed my TPU dev board today following the instructions from https://coral.ai/docs/dev-board/get-started/ and I also cannot get tflite_runtime to install or work. I too have Python 3.5.3 and Linux/Mendel 4.9.51. I flashed from https://dl.google.com/coral/mendel/enterprise/mendel-enterprise-day-13.zip as per the instructions.

The update instructions provided by @Namburger https://

[2020-07-11 06:17] ssghost opened #22 "Can’t Run a Coral EdgeTPU classification model with TFLite API"
I am trying to apply the tutorial of coral USB accelerator with MacOS 10.15. The tutorial link : [Get started with the USB Accelerator](https://coral.ai/docs/accelerator/get-started/#requirements)

Everything is successfully done until the last step "Run the image classifier with the bird photo (shown in figure 1)"

I copied the code to my terminal:
`` python3 classify_image.py \
--model models/mo

[2020-07-12 03:13] Namburger commented on #22
Can you share the outputs of these commands?
[code]

[2020-07-13 23:40] Everthings opened #23 "ValueError: Failed to load delegate from libedgetpu.so.1"
Hey, I'm trying to run ```classify_image.py``` on a Coral USB Accelerator, but it throws the following error.
[code]
Following all the steps verbatim [here](https://coral.ai/docs/accelerator/get-started#1c-on-windows), I'm able to run in on the Windows 10 cmd. However, when set up everything on the same PC with Ubuntu WSL 2, I get the above error. I've tried everything mentioned in #4, and it appe

[2020-07-14 04:04] mwkldeveloper opened #24 "Coral Detection Demo wrong tflite file"
In the detection example, install_requirements.sh indicate wrong tflite file, which is 404 not found:
[code]

It cause error when try the example:
![image](https://user-images.githubusercontent.com/8042599/87382535-c5737d00-c5c9-11ea-9140-a74497b6ba61.png)

Correct tflite file should be:
![image](https://user-images.githubusercontent.com/8042599/87382459-92c98480-c5c9-11ea-8451-0c01cdabd0e8.png)
[

[2020-07-14 14:38] Namburger commented on #23
@Everthings Humn, I'm actually not sure if libedgetpu would works under WSL :/
Although it's possible that your linux user just doesn't have plugdev access, could you try this?
[code]
Then reboot your device and try again.

[2020-07-14 14:40] Namburger commented on #24
Thanks, will get this fixed!

[2020-07-14 14:42] Everthings commented on #23
@Namburger I've tried that before, but the problem remains.

[2020-07-14 14:46] Everthings commented on #23
@Namburger I'm also running into a few problems with running the edge-tpu on Windows 10. I opened a different issue in the examples-camera repo which can be found [here](https://github.com/google-coral/examples-camera/issues/48).

[2020-07-14 14:48] Namburger commented on #23
@Everthings I see, I'll have to check if we have tested WSL with our library first, I'll keep you updated

[2020-07-15 17:08] Everthings commented on #23
Ok, good to know. Thanks!

[2020-07-15 17:08] #23 closed

[2020-07-16 09:05] mwkldeveloper opened #25 "Docker: dpkg: error processing archive /var/cache/apt/archives/libedgetpu1-max_14.1_armhf.deb"
I am trying to prepare docker image for coral

I can `apt-get install libedgetpu1-std`  and run the demo successfully:

But when i try `apt-get install libedgetpu1-max`, it cause error:

[code]

Dockerfile:
[code]

[2020-07-16 16:22] Namburger commented on #25
@mwkldeveloper
I'll start as I always do for docker/vm issues by stating that we don't officially support this configurations. However, it's been known to be working so no harms there :)

I think the problem with installing the `max` frequencies is that we do requires a `yes/no` answer to the face that the device may heats up. I'm not sure if there is a way to bypass that during docker build, my s

[2020-07-17 06:55] podestplatz opened #26 "[Python] Cannot select custom tpu device"
Hi,

I am working with both the Coral EdgeTPU USB and PCIe accelerators. In the python detection demo the following function is responsible for creating an interpreter object.
[code]
Line 7 is of especial interest to me, since I would like to be able to specify the device that shall be used, instead of relying on the automatic selection that is done by `libedgetpu.so.1`. From reading the code, it

[2020-07-17 16:45] #26 closed

[2020-07-22 06:45] podestplatz commented on #26
Hey @Namburger,

thank you very much! I will check it. Just out of curiosity: in `"pci:0"` and `"usb:0"` what meaning does the `0` have?
Another question: do you have a documentation on parameters the edgetpu library (libedgetpu.so.1) accepts when loaded as delegate? Because I didn't find something like that?

[2020-07-22 14:07] Namburger commented on #26
@podestplatz sorry, should have left you the link to our docs: https://coral.ai/docs/edgetpu/multiple-edgetpu/#using-the-tensorflow-lite-python-api

Basically if you have more than one usb devices, it'll index like this `usb:0` and `usb:1`, for me on the dev board, the edgetpu is registered as a pic device, so it's registered as `pci:0`

[2020-07-25 06:54] podestplatz commented on #26
Ok I understand, quite obvious actually ^^
Thank you very much!

[2020-07-29 11:35] Namburger commented on #24
@yaotechiu sorry, this is already fixed for us internally, will push it out in next release

[2020-08-03 20:02] wangyihuan123 commented on #12
I got the same issue. @Namburger
I set ```NUM_TRAINING_STEPS=50000 && NUM_EVAL_STEPS=2000``` but stopped the training when ckpt got 7952 as mAP hadn't improved for a long time.
[code]

On coral device, it couldn't detect any thing.
[code]

@Namburger  Which open source  or colab version do you recommend? I also check the tutorials [here](https://github.com/google-coral/tutorials/blob/master/retrai

[2020-08-05 10:01] Ray608470158 opened #28 "Coral Detection with mobilenetv2-ssd error"
I pretrain a model with 2 classes ,but when I run detect_image.py .
`----INFERENCE TIME----
Note: The first inference is slow because it includes loading the model into Edge TPU memory.
Traceback (most recent call last):
  File "detect_image.py", line 129, in <module>
    main()
  File "detect_image.py", line 108, in main
    objs = detect.get_output(interpreter, args.threshold, scale)
  File "/ho

[2020-08-05 11:44] Namburger commented on #28
@Ray608470158 sorry but this is not enough info to work with, how did you train the model, what architecture and can you submit the model?
The detect image script assumes that the model has post processing ops

[2020-08-05 11:57] Ray608470158 commented on #28
I use the mobilenetv2 with colab
While I finish training, it can be use for classification
And then I try to use with ssd
But can't use in object detection

[2020-08-05 13:06] Namburger commented on #28
Could you clarify which colab?

[2020-08-05 13:18] Ray608470158 commented on #28
this one 'retrain_classification_ptq_tf1'
Oh, Where is mobilenetv2-ssd link with colab
I didn't find that

[2020-08-05 13:29] Namburger commented on #28
@Ray608470158 Classification only outputs confidence score, nothing else.
The ssd-mobilenet object detection has 4 outputs outputs, please carefully review the doc for more info. https://www.tensorflow.org/lite/models/object_detection/overview

This demo is trying to find that ouputs in your classification which does not exist.
You can follow this for a object detection retrain tutorial, although

[2020-08-05 13:29] #28 closed

[2020-08-25 07:32] txloc1909 opened #29 "Failed to update the Coral Debian package"
I'm setting up a RPi 4 & Coral Edge TPU USB Accelerator, follow the guide at https://coral.ai/docs/accelerator/get-started
After adding the Debian package & the apt-key and run `sudo apt-get update`, I got this error message:

`W: An error occurred during the signature verification. The repository is not updated and the previous index files will be used. GPG error: https://storage.googleapis.com/b

[2020-08-25 14:23] Namburger commented on #29
Hey Lộc :)
There must have been an issue with our apt server, are you downloading this in Việt Nam?
`ValueError: Failed to load delegate from libedgetpu.so.1` means that you haven't been able to install our library.
Can you try the `sudo apt update` again? If it still doesn't work, do this:
[code]

[2020-08-31 20:57] Namburger commented on #29
Hi, any updates?

[2020-09-04 03:49] ssghost commented on #22
``python3 -c 'print(__import__("tflite_runtime").__git_version__)'

``python3 -c "from ctypes import *; cdll.LoadLibrary('libedgetpu.so.1.0'); print('success')"

``md5sum /usr/local/lib/libedgetpu.1.0.dylib
a8a47d9dc537bd56c77cc5c7cb4e6aa6  /usr/local/lib/libedgetpu.1.0.dylib``

[2020-09-04 13:55] ssghost commented on #22
Although I still don't know the reason, today when I run the command again on the same computer, it worked well as the webpage described. So please close this Issue thread.

[2020-09-04 14:05] Namburger commented on #22
@ssghost Ahh, I was trying to check if the correct version of `/usr/local/lib/libedgetpu.1.0.dylib` was installed on our system.
But from your outputs, everything looks good :)

[2020-09-04 14:05] #22 closed

[2020-09-05 14:00] txloc1909 commented on #29
Hi Nam,
Sorry for the late reply.

Following your help, I was able to resolve the problem.

FYI, the Raspberry Pi is located in Japan. In Viet Nam, this problem does not occurs.

[2020-09-05 22:09] moritz157 opened #30 "ValueError: Didn't find op for builtin opcode 'STRIDED_SLICE' version '4'"
So I converted a tensorflow model into a tflite model and tried loading it using tflite_runtime:
[code]

[code]

but it gave me the following error:
[code]

**System information:**

- OS: Windows 10
- Tensorflow version:  2.3.0
- tflite_runtime wheel: https://dl.google.com/coral/python/tflite_runtime-2.1.0.post1-cp37-cp37m-win_amd64.whl
- Python: 3.7

The model I used was from here: https://github

[2020-09-06 07:23] robmarkcole opened #31 "macosx_10_14_x86_64.whl is not a supported wheel on this platform."
On attempting install `pip3 install https://dl.google.com/coral/python/tflite_runtime-2.1.0.post1-cp37-cp37m-macosx_10_14_x86_64.whl` on a Mac with Catalina 10.15.5 I receive the error: `ERROR: tflite_runtime-2.1.0.post1-cp37-cp37m-macosx_10_14_x86_64.whl is not a supported wheel on this platform.`
Presumably this is due to the updated OS? Some guidance on this in the docs would be great, updated

[2020-09-08 02:16] Namburger commented on #29
@txloc1909 thanks for the update!

[2020-09-08 02:16] #29 closed

[2020-09-08 13:41] Namburger commented on #31
Hey @robmarkcole!
We currently only have released package for Macos 10.14 (Mojave), let ping my team in a little bit to find out what's the plan for Mac Catalina support

This may take a while, but until then you can try building your own package using this instruction: https://github.com/google-coral/edgetpu/issues/198#issuecomment-674094275

[2020-09-08 13:55] Namburger commented on #30
@moritz157 Hi!
This gist of the issue boils down to the fact that our released runtime package is not up to date with the newer version of tensorflow. Therefore there is no guarantee that your model will works until our next release, even if you were able to convert the model. I suggest sticking with 2.2 or below for now.
For yolov3, I suggest checking out this repo: https://github.com/guichristma

[2020-09-08 16:14] Namburger commented on #31
@robmarkcole update: for official release, a realistic timeline is in Oct when we will have this package available for Mac Catalina

[2020-09-09 09:13] robmarkcole commented on #31
@Namburger thanks for the update on the timeline

[2020-09-16 22:28] pranavgundewar opened #32 "semantic segmentation using TFLite API"
As mentioned, looking forward to Semantic Segmentation using TFLite API

[2020-09-17 13:54] Namburger commented on #32
This is in the work, for now maybe you can look here:
https://github.com/google-coral/edgetpu/blob/master/examples/semantic_segmetation.py

[2020-09-25 08:05] dudqls1994 commented on #24
![image](https://user-images.githubusercontent.com/19822691/94242633-4f887c00-ff51-11ea-9dc9-1b75b3ed0655.png)

Is this problem is solved???
I faced the same error.

[2020-09-25 12:13] Namburger commented on #24
@dudqls1994 the solution is to change mobilenet_ssd to sss_mobilenet in the installation script and when running the model. We are in a middle of a big release and all these changes are expected in mid q4

[2020-10-05 09:17] geogeorgiev commented on #24
I solved this issue. It happens when downloading the `.tflite` from a device where you are not logged in to github (e.g. raspberry pi). In this case the file you download is an `html` text file (hence <!D, part of <!Doctype><html>...) *instead of the buffer file* holding the model.

Solution: I just downloaded the `.tflite` model file on my workstation where I am logged in and transferred the file

[2020-10-12 06:42] ctippur opened #35 "posenet using tflite"
Hello,

I am interested in using posenet to extract points of reference.
I followed the methodology described [Here](https://medium.com/roonyx/pose-estimation-and-matching-with-tensorflow-lite-posenet-model-ea2e9249abbd).
I took a video of myself as being stationary. The reference points I got seem to be quite dynamic (contrary to my hypothesis).
For example, the nose and the eyes seem to have mov

[2020-10-12 15:20] Namburger commented on #35
@ctippur Thanks for reaching out!
The issues seems to be caused by the model's accuracy, which wont be modifiable since it's already in tflite format.
We actually have a similar project here which proven results and is targeted for edgetpu platform if you want to check it out instead?
https://github.com/google-coral/project-posenet

[2020-10-22 17:27] julio8a opened #36 "Value Error"
I followed this tutorial and it was able to classify the image just fine.
https://coral.ai/docs/accelerator/get-started/

However, when I try and run object detection through the readme on here I get this error. I'm on a Raspberry Pi4

[code]

FYI, I'm a total newbie to this.

[2020-10-22 17:35] julio8a commented on #36
I think this is related to #24

[2020-10-22 17:48] julio8a commented on #36
I did download the files manually, but I get another value error saying could not open.

[code]

![image](https://user-images.githubusercontent.com/6144462/96910212-fa5a6000-1453-11eb-891f-b1f8a7cf65f9.png)

[2020-10-22 18:37] Namburger commented on #36
@julio8a this will be fixed within the next couple weeks, but anyways, when you run the code, you also need to change the model file from mobilenet_ssd to ssd_mobilenet

[2020-11-04 20:03] AlesRuda opened #37 "RuntimeError: Internal: Unsupported data type in custom op handler: 0Node number 3 (EdgeTpuDelegateForCustomOp) failed to prepare."
Hello,

I followed setup steps described in https://coral.ai/docs/accelerator/get-started/#requirements.
Clasification exsample works OK.

[code]
I wrote simple semantic clasification script. It can by simply switched between EdgeTPU and CPU infference.

[code]

On the CPU the script runs succesfly, but it fails on the EdgeTPU with error:
[code]

My environment:
Windows 10
TensorFlow version 2.1.0

[2020-11-05 01:15] Namburger commented on #37
Are you running this on a docker container?

[2020-11-05 06:00] AlesRuda commented on #37
Edge compiler is running in docker because is not available for windows.
All other components are running directly on Windows.

[2020-11-05 20:47] Namburger commented on #37
@AlesRuda Oh sorry, please use the tflite_runtime package instead of the `tf.lite.Interpreter` as we used here: https://github.com/google-coral/tflite/blob/master/python/examples/classification/classify_image.py#L36
The problem with using the tf.lite is that the package was built on a different tensorflow commit from libedgetpu, that won't works.

[2020-11-06 08:55] AlesRuda commented on #37
It is my mistake. Thank you.

[2020-11-06 08:55] #37 closed

[2020-11-09 19:21] teraSurfer opened #38 "Usb Accelerator gets disconnected when running the example on windows"
I'm running the classify image example on windows with the frogfish wheel of tflite-runtime (tflite_runtime-2.5.0-cp37-cp37m-win_amd64.whl) on the newest edgetpu runtime (edgetpu_runtime_20201105.zip). I get a device disconnection sound and powershell freezes. If I close it and try again in a different window, I get a value error.

[code]

I'm new to coral and any help would be great.

[2020-11-09 19:44] Namburger commented on #38
@teraSurfer Did you also install a newest verison of `tflite_runtime`pip package?
https://www.tensorflow.org/lite/guide/python

[2020-11-09 19:44] teraSurfer commented on #38
@Namburger Yes, I did.

[2020-11-09 19:48] Namburger commented on #38
Can you share the outputs of
[code]

[2020-11-09 20:02] teraSurfer commented on #38
Sharing the outputs:
[code]

[code]

[2020-11-11 21:19] Aeroten opened #39 "Kernel Oops - Bug: 0"
Hi !
I tried to run the TFLite demo on Siemens IOT 2050 with the PCI E Coral TPU.
Running the classification example in python :

python3 classify_image.py \
  --model models/mobilenet_v2_1.0_224_inat_bird_quant_edgetpu.tflite \
  --labels models/inat_bird_labels.txt \
  --input images/parrot.jpg

Gives me

Message from syslogd@iot2050-debian at Nov 11 21:16:45 ...
 kernel:[ 1822.583092] Internal

[2020-11-11 21:32] Namburger commented on #39
hey! Could you share some outputs?
[code]

[2020-11-12 08:00] Aeroten commented on #39
Hi Namburger,

Thanks for your kind reply ! Sure, here is the information.

Concerning the kernel I installed the Coral driver generating the headers and adding the name of the headers (linux-headers-iot2050) in the gasket-dkms package from the tutorial (https://coral.ai/docs/m2/get-started/#2-install-the-pcie-driver-and-edge-tpu-runtime). It seems to me it's installed properly.

Maybe interrestin

[2020-11-12 13:34] Namburger commented on #39
@Aeroten hello, installation looks good, I've actually never seen this message before o_0
Can you also attach the full dmesg?

[2020-11-12 14:13] Aeroten commented on #39
Hi Namburger,

Yeah, same to me, this is really strange. I'm testing right now one of your C example, to see if it has something to do with python. I'll let you know the result there.

Here is the start dmesg

root@iot2050-debian:~# dmesg
[    0.000000] Booting Linux on physical CPU 0x0000000000 [0x410fd034]
[    0.000000] Linux version 4.19.59+ (builder@a22b1bcd338d) (gcc version 8.3.0 (Debian 8.

[2020-11-12 14:52] Aeroten commented on #39
Hi Namburger,

Just finished a quick test, same story in C using the "edgetpu-minimal-example"

root@iot2050-debian:~/edgetpu-minimal-example/build# ../out/aarch64/minimal ../test_data/mobilenet_v1_1.0_224_quant_edgetpu.tflite ../test_data/resized_cat.bmp ../test_data/imagenet_labels.txt

Message from syslogd@iot2050-debian at Nov 12 14:48:38 ...
 kernel:[ 1973.075573] Internal error: Oops - BUG:

[2020-11-15 21:39] jamagola opened #40 "(Google coral on RaPi 3B)RuntimeError: Internal: Unsupported data type: 0Node number 1 (EdgeTpuDelegateForCustomOp) failed to prepare."
I am using Raspberry pi model 3B (armvl7) and new to the coral world. I was trying to follow instruction from coral and run classification example resulted in runtime error.

Following info may be useful:
$sudo dpkg -l | grep edge
ii  libedgetpu1-std:armhf                15.0                                armhf        Support library for Edge TPU

I have tflite-runtime 2.5.0

Appreciate any help/

[2020-11-16 14:08] Namburger commented on #40
Hello, your installation looks good, but it's possible that your linux user isn't in the plugdev group, could you try this?
[code]

[2020-11-16 18:06] jamagola commented on #40
I tried that but the error persist.

Thank you

[2020-11-16 18:09] jamagola commented on #40
Following is the complete error message:

`Traceback (most recent call last):
  File "classify_image.py", line 122, in <module>
    main()
  File "classify_image.py", line 100, in main
    interpreter.allocate_tensors()
  File "/home/pi/.virtualenvs/cv/lib/python3.7/site-packages/tflite_runtime/interpreter.py", line 259, in allocate_tensors
    return self._interpreter.AllocateTensors()
RuntimeErr

[2020-11-17 14:15] Namburger commented on #40
Humnnn, so I see that you are running in a virtual environment, it is possible that the wrong library is being loaded during runtime.  My suggestion is to dig into "/home/pi/.virtualenvs/cv/lib/python3.7/site-packages/tflite_runtime" to make sure that it is actually tflite-runtime 2.5.
You can also send me the strace to make sure that the right libedgetpu.so is being run.
Something like:
[code]
Th

[2020-11-17 18:27] jamagola commented on #40
I hope attached file is what you asked for. Thank you for all the help.
[strace.txt](https://github.com/google-coral/tflite/files/5555446/strace.txt)

[2020-11-17 18:44] Namburger commented on #40
@jamagola yes, this is what I need, but also a little more:
1) From strace, this is where you are loading libedgetpu.so could you share the md5sum
[code]
2) I still need some verification on the tflite_runtime package that you are loading in your **cv** python virtual env, can you try running this form the same **cv** env?
[code]

[2020-11-17 19:12] jamagola commented on #40
Upon md5sum this is the response:
`b4fe1cfe6e74095767fa595dce7be805  /usr/lib/arm-linux-gnueabihf/libedgetpu.so.1`

About tflite_runtime from **cv** environment:
`>>> import tflite_runtime

'2.5.0'

'48c3bae94a8b324525b45f157d638dfd4e8c3be1'

`

Thank you

[2020-11-17 19:44] Aeroten commented on #39
Hi ! It seems my Coral was defect. Replaced with another one solved the problem.

Thanks for the support !

[2020-11-17 19:44] #39 closed

[2020-11-20 14:17] Namburger commented on #38
Hi @teraSurfer sorry for the late response, we are able to reproduce the issue and is actively working on this now, for now please downgrade the library using these instruction: https://github.com/google-coral/edgetpu/issues/260#issuecomment-731194060

[2020-11-23 15:47] leoliak opened #41 "Error loading and runninig ssdlite MobileDet from official source"
While using detection example with ssd mobilenet v2 everything works fine, when i load ssdlite mobiledet and using int8 quantized model, i get the following error:

[code]

On the other hand, when using fp32, the example code is running but the detection result is false:
[code]
The image is the same using for SSD MobileNet v2 example for object detection.

The ssdlite MobileDet was downloaded from

[2020-12-03 08:54] musekeskin commented on #16
Hi,
I have a similar problem.
mendel@xenial-yarn:~/coral/pycoral$ python3 examples/classify_image.py \

Traceback (most recent call last):
  File "examples/classify_image.py", line 82, in <module>
    main()
  File "examples/classify_image.py", line 60, in main
    interpreter.allocate_tensors()
  File "/home/mendel/.local/lib/python3.7/site-packages/tflite_runtime/interpreter.py", line 242, in al

[2020-12-03 13:49] Namburger commented on #16
@musekeskin can you check your tflite_runtime version also? It should be 2.15.0 at this time!

[2020-12-03 15:00] musekeskin commented on #16
mendel@xenial-yarn:~$ python3 -c 'print(__import__("tflite_runtime").__version__)'
2.1.0

[2020-12-03 15:07] Namburger commented on #16
Yelp, please upgrade the package.
https://www.tensorflow.org/lite/guide/python

[2020-12-03 15:15] musekeskin commented on #16
it is need to be version 2.15 or is it 2.5?
mendel@xenial-yarn:~$ pip3 install https://github.com/google-coral/pycoral/releases/download/release-frogfish/tflite_runtime-2.5.0-cp37-cp37m-linux_armv7l.whl

tflite_runtime-2.5.0-cp37-cp37m-linux_armv7l.whl is not a supported wheel on this platform.

[2020-12-03 15:26] Namburger commented on #16
@musekeskin sorry 2.5 is what I meant.

is a very self explanatory message

Are you trying to run this on the Dev Board? If so it should be using the arm64 wheel as opposed to arm32.

[2020-12-03 15:28] musekeskin commented on #16
yes dev board.
mendel@xenial-yarn:~$ pip3 install https://github.com/google-coral/pycoral/releases/download/release-frogfish/tflite_runtime-2.5.0-cp37-cp37m-linux_aarch64.whl
Collecting tflite-runtime==2.5.0 from https://github.com/google-coral/pycoral/releases/download/release-frogfish/tflite_runtime-2.5.0-cp37-cp37m-linux_aarch64.whl
  Retrying (Retry(total=4, connect=None, read=None, redirect=N

[2020-12-03 16:43] Namburger commented on #16
@musekeskin okay, now this is kind of an internet issue, you can try wget it first and then install?

[2020-12-04 06:25] musekeskin commented on #16
I downloaded the file somehow. But now I am getting such an error;

mendel@xenial-yarn:~$ python3 --version
Python 3.7.3
mendel@xenial-yarn:~$ ls
coral                            labels.txt
dog.jpg                          mobilenet_v2_1.0_224_inat_bird_quant_edgetpu.tflite
edgetpu-2.14.1-py3-none-any.whl  pycoral-1.0.0-cp38-cp38-linux_x86_64.whl
google-coral                     pycoral.git
İndiri

[2020-12-04 11:08] musekeskin commented on #16
After deleting the old installed version I was able to install the new version. Worked. Thanks !

[2021-01-17 19:19] mpreach commented on #38
I have the same issue by getting the example "classify_image.py" up and running on a M.2 module in a Win10 env.:

- edgetpu_runtime_20201204.zip is installed.

`Traceback (most recent call last):
  File "classify_image.py", line 122, in <module>
    main()
  File "classify_image.py", line 99, in main
    interpreter = make_interpreter(args.model)
  File "classify_image.py", line 72, in make_interp

[2021-01-18 23:55] Namburger commented on #38
@mpreach Please downgrade the tflite_runtime package to this one (which ever python version you have):
[code]

[2021-01-19 16:11] mpreach commented on #38
@Namburger I downgraded to the 2.1.0 Version. Problem is still existing.

'
Traceback (most recent call last):
  File "classify_image.py", line 122, in <module>
    main()
  File "classify_image.py", line 99, in main
    interpreter = make_interpreter(args.model)
  File "classify_image.py", line 73, in make_interpreter
    {'device': device[0]} if device else {})
  File "C:\Users\Office\AppData\Lo

[2021-01-19 16:50] Namburger commented on #38
@mpreach
Wait, sorry, you should be using the dll form here instead: https://dl.google.com/coral/edgetpu_api/edgetpu_runtime_20200728.zip

[2021-01-19 17:09] mpreach commented on #38
@Namburger: Works now.

[2021-01-20 23:55] GrantPerkins opened #42 "Cannot set input tensor"
`RuntimeError: There is at least 1 reference to internal data       in the interpreter in the form of a numpy array or slice. Be sure to       only hold the function returned from tensor() if you are using raw data access.`

This occurs when running:
[code]

[2021-01-21 22:11] Namburger commented on #42
This doesn't tell me a lot, what input are you feeding into the function and how are you calling it>?

[2021-01-29 01:52] Derricktao opened #43 "Wierd Javascript error when converting TF model to"
HI, I tried to convert my pytorch model to a deployable tflite model on my coral edge TPU:
My environment are:
PyTorch: 1.7.1
Onnx: 1.8.0
Onnx_tf: 1.7.0
Tensorflow: 2.3.0
Python: 3.8.5
Desktop: Ubuntu 20.04
Jupyter Lab: 3.0.1

And my torch model architecture is:
[code]

I followed the instructions and I successfully converted from torch to onnx and to tensorflow.
However, when it comes to the tfli

[2021-01-29 14:18] Namburger commented on #43
Hi @Derricktao sorry, but for this tflite conversion issue, please open an issue here: https://github.com/tensorflow/tensorflow/issues
for a more appropriate answer

[2021-03-09 11:20] hannes56a opened #44 "Getting only 10 detections"
Hi all,
I retrained the ssd_mobilNet_v1 model with own data (4 classes) (following the google tutorial for the coral chip: https://coral.ai/docs/edgetpu/retrain-detection/#using-the-coral-usb-accelerator).

Now I´m testing the new model on my test images with the "detect_image.py" script.
It basically works, but I got maximum 10 detections (boundingboxes). There are many more objects to find. I te

[2021-03-15 14:33] hannes56a commented on #44
Nobody has an idea??

[2021-03-15 17:10] scottamain commented on #44
When calling the detect_image.py script, did you try setting --threshold=0?

[2021-03-16 09:02] hannes56a commented on #44
Hi, i will check it, but if this is only the threshold for detection output, I tried with 0.2 and the "not detected" objects have a score above 0.5 ...

[2021-03-16 11:35] hannes56a commented on #44
I tried with --threshold=0, but it doesn´t help...

[2021-03-16 13:56] Namburger commented on #44
@hannes56a can post your full pipeline.conf?

[2021-03-16 14:03] hannes56a commented on #44
[pipeline.config.txt](https://github.com/google-coral/tflite/files/6149571/pipeline.config.txt)

# Copyright 2020 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agree

[2021-03-16 14:11] Namburger commented on #44
Actually, that pipeline looks good, on the step where you run the `export_tflite_ssd_graph.py` make sure you also add this flag:
[code]

[2021-03-16 14:14] Namburger commented on #44
I guess for you, since you are following the tutorial, that means you need to modify this scipt:
https://github.com/google-coral/tutorials/blob/master/docker/object_detection/scripts/convert_checkpoint_to_edgetpu_tflite.sh#L55

[2021-03-17 08:10] hannes56a commented on #44
Thanks a lot! Looks like this is the reason for sure. I cant test it now but I will report, when i have test it!
Again: Thanks a lot!

[2021-03-19 11:26] hannes56a commented on #44
It works! Thanks a lot again!

[2021-03-19 11:26] #44 closed

[2021-04-07 16:39] zdavatz opened #45 "Unsupported data type in custom op handler: 0Node number 1, libedgetpu-dev 15.0"
`dpkg -l | grep edgetpu` shows me:
[code]
but when I run
`python3 examples/classify_image.py --model test_data/mobilenet_v2_1.0_224_inat_bird_quant_edgetpu.tflite --labels test_data/inat_bird_labels.txt --input test_data/parrot.jpg`
I still get:
[code]
any hints or thoughts?

[2021-04-07 17:11] zdavatz commented on #45
Ok, I solved this. I had to many old `tflite_runtime` installed. First I removed all versions that I had installed using `pip`. Then I installed using apt-get `sudo apt-get install python3-tflite-runtime`

[2021-04-07 17:11] #45 closed

[2021-04-22 21:08] cgalleguillosm opened #46 "tflite_runtime on Windows 10 raises a ValueError: Failed to load delegate from edgetpu.dll"
Hello everyone, I'm trying to run the following example using a Coral m2 module:

`python examples/classify_image.py --model test_data/mobilenet_v2_1.0_224_inat_bird_quant_edgetpu.tflite --labels test_data/inat_bird_labels.txt  --input test_data/parrot.jpg`

but the following error is raised:

[code]

[code]

[code]

Please help me.

[2021-05-27 08:05] #38 closed

[2021-05-30 09:54] Guillaume-slize opened #47 "Encoding/decoding NLP model in tensorflow lite (fine-tuned GPT2)"
We are in the process of building a small virtual assistant and would like it to be able to run a fine-tuned version of GPT-2 on a raspberry-pi with a coral accelerator.

So far, we managed to convert our model to a tflite and to get first results. We know how to convert from words to indices with the previous tokenizer but then we need a bigger tensor as input to the interpreter. We miss the conv

[2021-06-03 22:41] Naveen-Dodda commented on #47
@Guillaume-slize  We are not exactly sure how to help with that. This repository is related to google coral. Can you redirect your question to [tflite-support](https://github.com/tensorflow/tflite-support)

[2021-06-03 22:41] #47 closed

[2021-06-06 09:12] Guillaume-slize commented on #47
Moved this here: https://github.com/tensorflow/tflite-support/issues/549#issue-912736942

[2021-06-21 07:41] Tongtong-allure commented on #41
How to address the question, please?

[2021-06-23 05:31] manoj7410 commented on #46
@cgalleguillosm Is this issue still reproducible ?

[2021-07-01 10:47] manoj7410 commented on #25
Feel free to reopen if this is still an issue.

[2021-07-01 10:47] #25 closed

[2021-07-01 10:54] manoj7410 commented on #31
macosx_10_15 can be found at https://github.com/google-coral/pycoral/releases/

[2021-07-01 10:54] #31 closed

[2021-07-01 11:05] manoj7410 commented on #35
Is this still an issue for you ?

[2021-07-01 12:36] jdmi commented on #46
I have exactly the same error

[2021-07-05 10:07] manoj7410 commented on #12
Does this issue still persist ?

[2021-07-05 10:10] manoj7410 commented on #20
Feel free to reopen if this issue still persists.

[2021-07-05 10:10] #20 closed

[2021-07-07 17:34] hjonnala commented on #13
Closing the issue as the original query got answered. Please feel free to reopen or create new issue if you are still facing issue to compile efficientdet-d0 to edgetpu-compiler.

[2021-07-07 17:34] #13 closed

[2021-07-12 07:30] ItsMeTheBee opened #48 "Running UNet with tflite_runtime"
Hey there!

I've trained a UNet model following these [instructions](https://colab.research.google.com/drive/1CCSM2FLOtHx0dPr1HgHFX0yLAgpOs7eT?usp=sharing#scrollTo=unP3cnxo_N72) but with two classes instead of three. I've also converted the network to tflite and compiled it with the coral edge compiler, but when I try to invoke the interpreter I get this error: ` Didn't find op for builtin opcode

[2021-07-12 11:29] manoj7410 commented on #43
@Derricktao Did you check with the TensorFlow team regarding this issue ?

[2021-07-12 11:49] manoj7410 commented on #36
@julio8a Were you able to fix this ?

[2021-07-12 11:51] manoj7410 commented on #35
Marking it as closed due to lack of activity. Feel free to reopen if this issue still persists.

[2021-07-12 11:51] #35 closed

[2021-07-12 16:19] hjonnala commented on #48
@ItsMeTheBee please share the invoking the interpreter script to reproduce the issue.

[2021-07-12 18:33] ItsMeTheBee commented on #48
@hjonnala  here you go =)

[code]

I'm currently working with Python 3.6 and tflite_runtime 2.1.0. I'm guessing I either need to upgrade/ downgrade something or to specify the transpose_conv operator version.

[2021-07-12 20:32] hjonnala commented on #48
The script is working fine for me with edgetpu output form shared colab notebook.
Is the error coming with model_256x256_edgetpu.tflite? If yes, please share model_256x256_edgetpu.tflite file.

[2021-07-13 05:26] ItsMeTheBee commented on #48
Huh interesting, could it be an issue because I am training and converting with TensorFlow 2.3.0 instead of nightly?
The model file can be downloaded from my private Google Drive: [here](https://drive.google.com/file/d/1wYuux86Q0jqdf1T31vZwrRMOoxPETmbu/view?usp=sharing).

[2021-07-13 13:44] hjonnala commented on #48
Hello, I am using python 3.8 and corresponding tflite_runtime whl package from this source: https://github.com/google-coral/pycoral/releases

In my case correct whl would be: https://github.com/google-coral/pycoral/releases/download/v1.0.1/tflite_runtime-2.5.0-cp38-cp38-linux_x86_64.whl

The script is working fine with both True and False flags.

can you please share detail error message.
![Screen

[2021-07-13 15:41] ItsMeTheBee commented on #48
Ah sweet, it seems like it was an issue with my conda enviroment! I made a new one with Python 3.8 and it worked fine, made another one with Python 3.6 and that one worked as well :D

Thanks a lot!

Do you happen to have some code sample on how to use UNet with tflite_runtime? I'm guessing the image needs to be converted into a numpy array just like during the training (so with normal tensorflow a

[2021-07-13 15:49] hjonnala commented on #48
May be this [https://github.com/google-coral/edgetpu/issues/417#issue-940647083](sample) helpful.

[2021-07-13 15:49] #48 closed

[2021-07-15 21:17] hjonnala commented on #30
@moritz15 are you still facing the issue?

[2021-07-22 06:27] manoj7410 commented on #41
@leoliak Is this issue still reproducible ?

[2021-07-22 12:45] manoj7410 commented on #12
Feel free to reopen if the issue still persists.

[2021-07-22 12:45] #12 closed

[2021-07-30 15:31] johncblacker commented on #46
I have the same problem...but when I try print(tflite_runtime.__git_version__) I get the error:
name 'tflite_runtime' is not defined
Running on windows 10, Python 3.8.5.  I did get "success" as noted in previous post.

[2021-07-30 15:33] johncblacker commented on #46
OOOopppps. I forgot to import tflite_runtime, which worked, then the version is:
a4dfb8d1a71385bd6d122e4f27f86dcebb96712d

[2021-07-30 17:42] hjonnala commented on #46
@johncblacker have you installed edgetpu runtime from here https://coral.ai/software/#edgetpu-runtime?

[2021-07-30 23:28] AkkiSony commented on #46
I am getting the same error.
Traceback (most recent call last):
  File "C:\Program Files\Python38\lib\site-packages\tflite_runtime\interpreter.py", line 152, in load_delegate
    delegate = Delegate(library, options)
  File "C:\Program Files\Python38\lib\site-packages\tflite_runtime\interpreter.py", line 111, in __init__
    raise ValueError(capture.message)
ValueError

During handling of the abov

[2021-07-31 13:30] johncblacker commented on #46
Yes I did.  In fact I initially started with version 20210726 and got the load error, then I went back to version 20200728 and had problems with the edgetpu not being recognized and windows threw an error when I plugged in the device; Finally late yesterday I went to version 20201204 and received a different error.  I'm running python 3.8.5 and there is only one wheel to load for that so I couldn'

[2021-07-31 14:05] hemanthreddyjonnala commented on #46
@AkkiSony I have seen this issue when I installed new version of edgetpu runtime without uninstalling the previous version.
Please try the below steps:
- Uninstall existing edgetpu runtime restart the machine (uninstall.bat would be in the same zip folder that used for install).
- install the new version of edgeptu runtime (https://github.com/google-coral/libedgetpu/releases/download/release-group

[2021-07-31 15:45] AkkiSony commented on #46
@hjonnala Thanks for detailed explanation! :)
I will try to upgrade the edgetpu runtime.
However, is it necessary to install pycoral and tflite_run time again??? Just upgrading the version of edge tpu would'nt work?"

Apart from this, why is the previous version of edge tpu giving me errors? Why am I not able to run the demo in the older version? **My cuurent version is edgetpu_runtime_20210119**

[2021-07-31 16:15] johncblacker commented on #46
Thank you for the detailed text file, I've printed it for reference.  Whenever I switched from one version of the driver (runtime) to another I always uninstalled the device (from the device manager) and checked the box to remove the old files; that way there should be no remnants hanging around.  I rebooted, then I installed the next version I wanted to try, then I rebooted.  So, now I'm running

[2021-08-02 07:02] AkkiSony commented on #46
@hjonnala Is there any answer for this please?

[2021-08-02 09:48] hjonnala commented on #46
@johncblacker I am not sure why there are so many versions.

@AkkiSony currently I am having issue (segmentation fault) with edgetpu_runtime_20210726.zip installation. I have tried installing the previous version edgetpu_runtime_20210119 without reboot and it is working fine.

[2021-08-02 10:07] hjonnala commented on #46
@AkkiSony I haven't downgraded pycoral 2.0.0 and tflite runtime 2.5. Please let us know if you see any issues.

[2021-08-02 11:14] AkkiSony commented on #46
During installation of PyCoral on Git bash, I am getting SSL Verify certificate Error.

Can you please have a look. Thanks.

![coral-TPU-error-14](https://user-images.githubusercontent.com/85996229/127853150-53c34a34-c407-408d-ad90-9f8cb77ae872.PNG)

[2021-08-02 11:45] AkkiSony commented on #46
@hemanthreddyjonnala I alwys get this
$ bash examples/install_requirements.sh classify_image.py
**NOT FOUND: mobilenet_v2_1.0_224_inat_bird_quant_edgetpu.tflite
NOT FOUND: mobilenet_v2_1.0_224_inat_bird_quant.tflite
NOT FOUND: inat_bird_labels.txt
NOT FOUND: parrot.jpg**

I am unable to download the models. Please let me know how can I solve this?

[2021-08-02 11:56] hjonnala commented on #46
I am not sure how to resolve this issue as I haven't faced this issue. I will check the internal team and let you know if any resolution for this.

[2021-08-02 12:02] AkkiSony commented on #46
Okay. If I download them manually and place them in the test_data folder. Should the demo work fine? Or is there any additional dependencies which will be installed from the install_requirements.sh file?

Because, when I tried copying the required files and placed it in test_data repo. When I execute the the below commaND; i am getting the below error.

**$ python examples/classify_image.py \ --mo

[2021-08-02 12:14] hemanthreddyjonnala commented on #46
@AkkiSony can you please share the output of pip freeze.

[code]

[2021-08-02 12:20] AkkiSony commented on #46
pip freeze gives me  a huge output log file. Hence, I have only copy pasted, the region we are interested with. Let me know if this is  sufficient!

numpy @ file:///D:/bld/numpy_1621506450533/work
Pillow @ file:///D:/bld/pillow_1625678130042/work
pycoral @ file:///C:/Users/XXX/Coral-USB/installation-whl-files/pycoral-2.0.0-cp38-cp38-win_amd64.whl
tflite-runtime @ file:///C:/Users/XXX/Coral-USB/ins

[2021-08-02 12:23] manoj7410 commented on #46
@AkkiSony Can you run : pip3 install numpy --upgrade   ?

[2021-08-02 12:24] AkkiSony commented on #46
pip3 install numpy --upgrade
Requirement already satisfied: numpy in c:\users\XXX\anaconda3\envs\coral_env\lib\site-packages (1.20.3)
WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'SSLError(SSLError(1, '[SSL: WRONG_VERSION_NUMBER] wrong version number (_ssl.c:1125)'))': /simple/numpy/
WARNING: Retrying (Retry(total=3, connect=Non

[2021-08-02 12:26] manoj7410 commented on #46
@AkkiSony Try with 'pip3 install numpy --upgrade --ignore-installed'

[2021-08-02 12:28] AkkiSony commented on #46
pip3 install numpy --upgrade --ignore-installed --proxy="proxy mentioned here"
WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'SSLError(SSLError(1, '[SSL: WRONG_VERSION_NUMBER] wrong version number (_ssl.c:1125)'))': /simple/numpy/
WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connec

[2021-08-02 12:30] manoj7410 commented on #46
Are you working on a restricted network ? Can you try with an open network like a mobile hotspot ?

[2021-08-02 12:32] AkkiSony commented on #46
I am working behind a company proxy. Hence, I cannot use hotspot! :/

[2021-08-02 12:42] johncblacker commented on #46
I would suggest running the install-requirements.sh separately using git-bash.  This script puts the required files into two directories - models and test_data.  If you have downloaded the files yourself, that's OK, you simply have to point to the correct locations when you run the example by modifying your command line arguments.

I too found that python3 didn't exist, so if you use "python" make

[2021-08-02 12:49] AkkiSony commented on #46
I found out it is the required version "Python 3.8.8"

There is no mention of python in the install-requirements.sh file. :/

[2021-08-02 13:09] AkkiSony commented on #46
$ python examples/classify_image.py \ --model test_data/mobilenet_v2_1.0_224_inat_bird_quant_edgetpu.tflite \ --labels test_data/inat_bird_labels.txt \ --input test_data/parrot.jpg
RuntimeError: module compiled against API version 0xe but this version of numpy is 0xd
Traceback (most recent call last):
  File "examples/classify_image.py", line 40, in <module>
    from pycoral.utils.edgetpu import m

[2021-08-02 14:26] johncblacker commented on #46
OK, I'm running numpy 1.21.1, tflite runtime: tflite-runtime==2.5.0.post1, python 3.8.5, my drivers: edgetpu_runtime_20201204.
I am not using anaconda. I'm sorry about wrong info earlier...the install-requirements.sh script puts output into examples/test_data directory.  But, like I said location doesn't matter if you specify correctly in calling arguments.  I verified this morning that my example

[2021-08-06 10:10] AkkiSony commented on #46
I am still not able to solve this dll error! :( And I also see that this issue is faced by others as well. Please let us know a solution at the earliest.

[2021-08-09 08:14] AkkiSony commented on #46
Guys any reply please? Is there a possible solution for this error?

[2021-08-09 09:13] AkkiSony commented on #46
Can you please send me the link to install this version.

[2021-08-09 09:33] manoj7410 commented on #46
@AkkiSony You can find runtimes at : https://coral.ai/software/#edgetpu-runtime

[2021-08-09 16:11] AkkiSony commented on #46
Thanks for sharing the  document. This was very useful. :) Yet, it's sad that i am still getting the edgetpu.dll error!

[2021-08-09 19:50] johncblacker commented on #46
I am running python 3.8.5 using the edgetpu_runtime_20201204 version of the runtime.  If you're having .dll issues it might be better to simply uninstall all the edgetpu and pycoral items and start over.  Please not what versions of the items that result.

[2021-08-09 19:51] johncblacker commented on #46
Here's the info on my edgetpu.dll:
File version 14.0.0.0
Product name edgetpu
Productversion 14.0.0.0
Copyright 2019-2020
size 804kb
date modified 12/4/2020 10:48pm

[2021-08-09 19:53] johncblacker commented on #46
After you remove the previous version by removing the device AND deleting the driver files, reboot.
Then, install the new edgetpu version, reboot again.
Look at your .dll and make sure it matches mine, then you should be OK.

[2021-08-10 07:10] AkkiSony commented on #46
@johncblacker Thanks for the clear explanation! I followed all your steps with reboot.
This is my properties of .dll file. It is located in C:\Windows\System32\edgetpu.dll

![coral-TPU-error-17](https://user-images.githubusercontent.com/85996229/128823410-84bc52aa-aae5-4638-95d7-fd1da417b94b.PNG)

Yet, I am getting .dll error!

My doubt is that, is the system able to find the .dll file in this loc

[2021-08-10 07:54] AkkiSony commented on #46
@johncblacker Thanks a ton! :) :) :) You finally made it work for me! :) The demo worked! :)
I think **reboot** was the main thing which I did not do previously after uninstalling and installing it. This worked with me! :)

This document really helped me a lot! :)
@hjonnala I should thank you for always replying spontaneously! :)

Now, I want to run an object detection model. I have trained my mod

[2021-08-10 09:15] AkkiSony commented on #46
@johncblacker  @hemanthreddyjonnala
I installed the edgte tpu version 20210726, and now I get back the .dll error! :( :(

(pycoral_venv) C:\pycoral_venv\Scripts\coral\pycoral1>python examples\classify_image.py --model test_data\mobilenet_v2_1.0_224_inat_bird_quant_edgetpu.tflite --labels test_data\inat_bird_labels.txt --input test_data\parrot.jpg
Traceback (most recent call last):
  File "C:\pycor

[2021-08-10 11:26] johncblacker commented on #46
Does your device manager show the coral device in USB devices?  Before and after you try to run, look to see.

[2021-08-10 11:33] AkkiSony commented on #46
@johncblacker
![coral-TPU-error-18](https://user-images.githubusercontent.com/85996229/128859833-c2721446-962c-4de9-9a7e-e43dace323b8.PNG)

[2021-08-10 11:35] hjonnala commented on #46
@johncblacker yes, there is an issue with latest edgetpu runtime 14 for windows.

[2021-08-10 11:37] AkkiSony commented on #46
@hjonnala Thanks. But is there a way for me to solve this issue? :/ Or will there be any update coming soon?

[2021-08-10 11:56] johncblacker commented on #46
You will get that error if the system cannot find the coral device.

Aug 10, 2021 7:37:29 AM AkkiSony ***@***.***>:

[2021-08-10 11:57] AkkiSony commented on #46
But the system is able to find it! @johncblacker

[2021-08-10 12:07] johncblacker commented on #46
Is it still there after you get error?

Aug 10, 2021 7:57:20 AM AkkiSony ***@***.***>:

[2021-08-10 12:11] AkkiSony commented on #46
@johncblacker Yes, its there before and after I get the error. :/

[2021-08-10 12:13] hjonnala commented on #46
Coral Dev Board works on Mendel LInux Operating System. There won't be any issues with the Coral Dev Board.

On windows as of now only workaround is to use previous runtime version edgetpu_runtime_20201204.

If I were you,

- I would try with different terminals (Bash, cmd, anaconda etc)
- try with opening the shell as administrator
- try with or without virtual env
- Try it on a different compute

[2021-08-10 12:20] AkkiSony commented on #46
@hjonnala  Thanks for your suggestions! :)

I tried with it with GIT BASH and CMD prompt on the windows side.  Dint work!

Again, dint work!

I tried without virtual environment. BUt it said pycoral not found even after installling it! :/

I wish I could try this. But I cannot do it! As I am working on a company PC.

[2021-08-10 12:24] hjonnala commented on #46
try it on own PC it might be a different operating system, you would be able to know if there is any issue with USB accelerator.

How are you connecting USB accelerator to PC? with USB hub or direct connection?

[2021-08-10 12:27] AkkiSony commented on #46
Unfortunately, my PC is also WINDOWS 10!
I am connecting it directly to the PC, no USB hub.

[2021-08-10 12:30] hjonnala commented on #46
Then it's perfect, I would suggest to you try it on own PC  with edgetpu_runtime_20201204

[2021-08-10 12:34] AkkiSony commented on #46
@hemanthreddyjonnala  with edgetpu_runtime_20201204, it worked fine. The demo functioned today in the morning. But now for my custom object detection model, I got an error saying that I require runtime version(14).
Hence, I upgraded to 20210726 version which is runtime version 14.

Please find the above error that I encountered.

[2021-08-10 12:39] hjonnala commented on #46
The possible solutions are:

Compile the model with runtime version 13 by specifying -m flag (https://coral.ai/docs/edgetpu/compiler/#usage)
example:
`! edgetpu_compiler -s -m 13 ssdlite_mobiledet_dog_vs_cat.tflite`

or

If the model requires runtime 14 try it on coral dev board

or
try it on different operating system either linux or mac OS as the model requires edgetpu runtime 14

[2021-08-10 13:02] AkkiSony commented on #46
@hjonnala Thanks for always giving me some suggestion. Really happy about it! :)
I will try specifying the model with edgetpu run time version 13.

I used https://colab.research.google.com/github/google-coral/tutorials/blob/master/retrain_detection_qat_tf1.ipynb to train my object detection model. So i dont know if this has any operations required for runtime version 14.

If this doesnt work, I wi

[2021-08-10 13:17] AkkiSony commented on #46
@hjonnala I just wanted to update you that, even the demo is not working with this edge tpu runtime - 20210726.
So, I think my model should not be the problem!

[2021-08-10 13:21] hjonnala commented on #46
edge tpu runtime - 20210726 is same as edgetpu runtime 14. so, it does not work on windows as of now.

[2021-08-10 13:33] johncblacker commented on #46
I am connecting to pc direct via USB 3 port.

Aug 10, 2021 8:30:29 AM Hemanth-Jonnala ***@***.***>:

[2021-08-10 13:54] AkkiSony commented on #46
@hjonnala  A brilliant idea! :) Thank a lot. It worked for me! :) But, the accuracy is very bad.
Is there a way where I can measure the accuracy of the model now?
While trainng the model, hthe tensorboard did not work for me. Hence, I do not know how to measure the accuracy of the model now. However, I used Average Precision matrix and when loss was around 0.7, I stopped trainig.
The object detect

[2021-08-10 13:59] hjonnala commented on #46
you can refer to these tutorials: https://github.com/google-coral/tutorials

This section might help: https://colab.research.google.com/github/google-coral/tutorials/blob/master/retrain_classification_ptq_tf2.ipynb#scrollTo=RMLYBDe_e849

Please open new issues as these questions are not relevant to this thread.

[2021-08-10 13:59] #46 closed

[2021-08-10 14:42] AkkiSony opened #49 "Accuracy of the model is very low on Edge TPU"
I trained a custom object detection model using https://colab.research.google.com/github/google-coral/tutorials/blob/master/retrain_detection_qat_tf1.ipynb . My dataset have 3 classes.

The inference on the PC was better and i could detect more objects in an image compard to inference using Edge TPU.

1. Are there any possibilities where I can measure the accuracy of the edge_tpu.tflite model?
2.

[2021-08-10 20:20] hjonnala commented on #49
please share inference accuracy on PC vs uncompiled tflite vs edgetpu.tflite with same example?
How many objects you are able to get with PC model vs uncompiled tflite model vs edgetpu model..

[2021-08-11 10:13] AkkiSony commented on #49
Just a small question with respect to inference time. In the detect_image.py code, how is the inference time measured?
Does inference time also include loading the image and then the object detection?
or
Just object detection on the image, after the image is loaded?

I need to get this clarified as, I would like to measure the inference time on the PC.

[2021-08-11 10:25] manoj7410 commented on #49
@AkkiSony

Yes, the inference time also includes the image loading latency.

[2021-08-11 11:10] AkkiSony commented on #49
Thanks for the info. Please correct me if I am wrong. So the inference time also depends on the size of input images?

- Image1.jpg of size - (4608, 3456) requires 21.8 seconds of inference time on PC.
- Image2.jpg of size - (312, 168) requires just 1.343 second.

Please check the below code for your reference.
    start=time.time()
    image = Image.open(image_path)
    # the array based represen

[2021-08-11 12:04] manoj7410 commented on #49
@AkkiSony Yes, image size/resolution plays an important role here. Larger the image => Greater the inference time.

[2021-08-11 12:20] AkkiSony commented on #49
@manoj7410 Thank for the clarification. :) I have trained a model using Darknet-Yolov3. As Coral TPU only works with tensorflow framework, is there a pssibility for me to convert the model into tensorflow format and further into tflite? Does this work well with edge tpu?
Do you have any idea where can I convert my darknet model into tensorflow (.pb) format?

[2021-08-11 12:33] AkkiSony commented on #49
Just for my understanding and better clarity. @hjonnala
1. PC model inference that I have done is with frozen_inference_graph.pb model.
2. uncompiled tflite - ? (Is there an inference code for this? Just like detect_image.py)
3. edgetpu model: using USB accelerator.

[2021-08-11 12:46] hjonnala commented on #49
please check line 84 to 86: https://github.com/google-coral/pycoral/blob/master/examples/detect_image.py#L84

[2021-08-11 13:33] AkkiSony commented on #49
@hjonnala  The inference done on frozen_inference_graph.pb(on PC) is as follows:
![output-holes](https://user-images.githubusercontent.com/85996229/129038238-317b550f-c6de-4d1d-ba8f-66eed6b9f58c.jpg)

The inference on edgetpu.tflite on coral USB is as follows:
![holes-output](https://user-images.githubusercontent.com/85996229/129038130-551c14f2-0abf-44e5-b6f0-ff8e948f69ed.jpg)

[2021-08-11 13:47] AkkiSony commented on #49
As the inference time of edgetpu is very less compared to PC inference time. I see that detect_image.py converts the input image size. However, I could not get to know to what dimension is it being resized?

  image = Image.open(args.input)
  _, scale = common.set_resized_input(
      interpreter, image.size, lambda size: image.resize(size, Image.ANTIALIAS))

I found the above snippet. Can you tel

[2021-08-11 14:06] hjonnala commented on #49
Edge devices are not built for training purposes.You can expect the same accuracy as CPU tflite (uncompiled) model. Please check with tensor flow team regarding training.
And convert to edgetpu.tflite only after you are satisfied with CPU tflite model accuracy..

You can write the custom code to pass of number of images and compare the number of objects detected (or save the inference images) for

[2021-08-11 14:10] AkkiSony commented on #49
Is there also a depletion in the accuracy, after converting from .pb format to CPU tflite model?

[2021-08-11 14:12] AkkiSony commented on #49
Do you think this will have better accuracy, as the yolov3 model could detect all the holes in the image? So is it possible to convert?

[2021-08-11 14:22] hjonnala commented on #49
I haven't worked on yolov3 model.
Please refer to https://coral.ai/models/object-detection/

[2021-08-11 22:06] hjonnala commented on #49
you can try this model https://colab.research.google.com/github/google-coral/tutorials/blob/master/retrain_ssdlite_mobiledet_qat_tf1.ipynb

[2021-08-12 06:28] AkkiSony commented on #49
In this snippet found in detect _image.py what is the input image being resized into? I could'nt find the value of "size" in the code! :/ Can you please let me know? Thanks again for > you can try this model https://colab.research.google.com/github/google-coral/tutorials/blob/master/retrain_ssdlite_mobiledet_qat_tf1.ipynb for the suggestion.

[2021-08-12 13:04] hjonnala commented on #49
you can get that info from this function: https://github.com/google-coral/pycoral/blob/9972f8ec6dbb8b2f46321e8c0d2513e0b6b152ce/pycoral/adapters/common.py#L78
you can add some logs to this function to know what it is doing in lib/site-packages/pycoral/adapters/common.py

[2021-08-12 13:28] AkkiSony commented on #49
Thanks for the info! :) I added print statements intoit, yet, I could not see any output during executuion. :/

[2021-08-12 13:34] hjonnala commented on #49
have added the print statements in this file path lib/site-packages/pycoral/adapters/common.py?

[2021-08-12 13:52] AkkiSony commented on #49
Sorry, I was on the pycoral directory. I did it on the wrong file. I got it right now!

[2021-08-18 16:57] AkkiSony commented on #49
@hjonnala I converted my darknet model to tflite edge tpu compatible. But when I tryo to run the inference, I get the following error. Do I have to make any changes in detect.py script? Please help me trace the error. Thanks in advance! :)

![coral-TPU-error-19](https://user-images.githubusercontent.com/85996229/129940327-9434b7af-a959-465d-bc41-e4706b7f2abe.PNG)

[2021-08-18 18:27] hjonnala commented on #49
can you share your model?
you can start debugging from by printing out interpreter.get_output_details() before detect.get_objects()

[2021-08-18 19:20] AkkiSony commented on #49
@hjonnala Can you please tell me how do I share the model with you? I am not able to upload the model here.
[classes.txt](https://github.com/google-coral/tflite/files/7009625/classes.txt)

[2021-08-18 19:22] hjonnala commented on #49
you can share via google drive or zip file. Please share model and example image trying to detect.

[2021-08-18 19:34] AkkiSony commented on #49
https://drive.google.com/drive/folders/181npG1SDJnMBBQOm_gXbL0XguSA4gGsy?usp=sharing
Please find the attachment.

[2021-08-18 20:16] AkkiSony commented on #49
Can you please let me know which IDE did you install for debugging? Also, how did you use virtual environment within that IDE?

[2021-08-18 23:58] hjonnala commented on #49
Your output tensors are different form the model examples. So, in this case you can't use detect_image.py to get the inference. Please check for resources on how to run  inference on yolov3 tflite models.

Here is some third party repo to run infernece on .h5 models: https://github.com/kaka-lin/object-detection

Reference to visualize models: netron.app

[2021-08-19 07:02] AkkiSony commented on #49
@hjonnala Thank for the clarity. I used the follwing mentioned repo to convert my model. https://github.com/guichristmann/edge-tpu-tiny-yolo

In that repo there is a script inference.py written. But that requires an input "anchors file". I am not aware of how and where to generate anchor files. Can you please let me know if you find any  information? Thanks in advance! :)

[2021-08-19 08:50] AkkiSony commented on #49
I am using the folllwing link to convert the model and get it compatible with edge tpu.
https://github.com/guichristmann/edge-tpu-tiny-yolo

Now during the infernce, I am getting the follwong error. Can you please help me with the error?
1. I would like to know if I have to install edgetpu again into this new virtual environment? Since, I have created a new virtual environment with tenforflow vers

[2021-08-19 14:32] manoj7410 commented on #43
Closing this due to lack of activity. Feel free to reopen this thread if the issue still persists.

[2021-08-19 14:32] #43 closed

[2021-08-19 14:34] manoj7410 commented on #42
Closing this due to lack of activity. Feel free to reopen this thread if the issue still persists.

[2021-08-19 14:34] #42 closed

[2021-08-19 14:37] manoj7410 commented on #24
This has been fixed. Feel free to reopen this thread if you still face the issue.

[2021-08-19 14:37] #24 closed

[2021-08-19 14:39] manoj7410 commented on #41
Closing this due to lack of activity. Feel free to reopen if the issue still persists.

[2021-08-19 14:39] #41 closed

[2021-08-19 14:43] manoj7410 commented on #36
Closing this due to lack of activity. Feel free to reopen this thread if the issue still persists.

[2021-08-19 14:43] #36 closed

[2021-08-19 14:46] manoj7410 commented on #49
@AkkiSony Yes, you will have to install the edgetpu_runtime again in the new Virtual Environment.

[2021-08-19 14:49] manoj7410 commented on #40
@jamagola Were you able to fix this?

[2021-08-19 15:44] jamagola commented on #40
No, I couldn't fix the issue during the time of inquiries. However, I have switched to Raspberry Pi 4 and things went smooth with the 'edgetpu'.

[2021-08-20 05:54] #40 closed

[2021-08-30 04:49] NooLL opened #50 "Google Vertex AI edgetpu model value error"
### Description

I tried training a detection model on vertexAI and export it.
- the dataset was trained as 'AutoML Edge' on vertexAI
- Upon completion of training, 'TFlite' model was exported to be tested on prem.

However, the tflite model used throws an error:

![image](https://user-images.githubusercontent.com/49567347/131286542-a037cead-3547-4ad4-8963-73548ae0b016.png)

<details><summary>Clic

[2021-08-31 13:32] manoj7410 commented on #50
@NooLL Can you share the uncompiled tflite model here ?

[2021-09-04 07:44] wangchenxi777 commented on #16
Hello,
I have a similar problem.
mendel@neat-kid:~/coral/pycoral$ python3 examples/classify_image.py \

    --model test_data/mobilenet_v2_1.0_224_inat_bird_quant_edgetpu.tflite
    --labels test_data/inat_bird_labels.txt
    --input test_data/parrot.jpg
    Traceback (most recent call last):
    File "examples/classify_image.py", line 82, in
    main()
    File "examples/classify_image.py", line

[2021-09-04 21:54] hjonnala commented on #16
@wangchenxi777
please try
`python3 -c 'from pycoral.utils.edgetpu import get_runtime_version; print(get_runtime_version())'`
if the output is not same below
`BuildLabel(COMPILER=6.3.0 20170516,DATE=redacted,TIME=redacted), RuntimeVersion(14)`

to upgrade the edgetpu runtime please follow these instructions https://coral.ai/docs/dev-board/reflash/#update-your-board-with-apt-get

[2021-09-05 12:15] wangchenxi777 commented on #16
ok thankyou
now i will try it

[2021-09-05 12:16] wangchenxi777 commented on #16
ok thankyou
now i will try it

[2021-09-05 12:16] wangchenxi777 commented on #16
ok thankyou
now I will try it

[2021-09-14 20:12] hjonnala commented on #30
closing due to inactivity. Feel free to reopen if the issue still persists.

[2021-09-14 20:12] #30 closed

[2021-09-20 16:28] hjonnala commented on #49
Hi @AkkiSony please let us know if you have any questions here.

[2021-09-26 14:03] tyouritsugun opened #51 "can not open resized_cat.bmp"
Hi,

I was trying classify.cc, I am using resized_cat.bmp from

https://github.com/google-coral/edgetpu/tree/master/test_data

However, I got the error below:

[code]
When I trace to the source, I found in line 54 of classify.cc
[code]
The debugger says that the width  is -32.

Please tell me where can I get the correct BMP file or is there any bug in `ReadBmpImage`?

Thank you in advance
Zhang

[2021-09-27 04:25] manoj7410 commented on #51
@tyouritsugun What is the PATH that you have provided for resized_cat.bmp ? Is an image available at that PATH ?

[2021-09-27 04:33] tyouritsugun commented on #51
Hi

Thank you for your reply.

The line below

[code]
succeeded.

When I debug the `filename`, it is correct file name located in the directory I placed it to.

The problem might be the BMP info header parsing, the program says that the width of `resized_cat.bmp` is -32 but not 224 which is unexpected.

Zhang

[2021-09-27 04:36] manoj7410 commented on #51
@tyouritsugun Did you try with any other image as well ?

[2021-09-27 04:36] tyouritsugun commented on #51
Here is my system information:
OS: Ubuntu 20.04
IDE: VS code 1.61.1
CPU: X64
TPU: Coral USB Accelerator

Zhang

[2021-09-27 04:37] tyouritsugun commented on #51
C

Can you please give a link to make sure that we are talking about the same image?
Regards
Zhang

[2021-09-27 04:47] manoj7410 commented on #51
Can you try with https://github.com/google-coral/edgetpu/blob/master/test_data/parrot.jpg ?

[2021-09-27 05:31] tyouritsugun commented on #51
the former one, jpg guy:
it returns from line 41:
`return {};  // Invalid file type.`

the latter one, bmp guy:
`const uint32_t offset = ToInt32(&file_header[10]);` says that the offset is 4294967178.
`int width = ToInt32(&info_header[4]);` says that the width is 512
`int height = ToInt32(&info_header[8]);` says that the height is 341
then, it returns from line 67:
`return {};  // Read failed.`

H

[2021-10-04 16:11] hjonnala commented on #49
closing due to inactivity. Feel free to reopen if you still have any questions.

[2021-10-04 16:11] #49 closed

[2021-10-18 14:28] talcs opened #52 "Example parrot classification inference takes 1800ms on Windows"
### Description

    PS C:\programs\coral\pycoral> python .\examples\classify_image.py --model .\test_data\mobilenet_v2_1.0_224_inat_bird_quant.tflite --labels .\test_data\inat_bird_labels.txt --input .\test_data\parrot.jpg
    ----INFERENCE TIME----
    Note: The first inference on Edge TPU is slow because it includes loading the model into Edge TPU memory.
    1822.0ms
    1819.0ms
    1804.6ms

[2021-10-18 16:02] hjonnala commented on #52
Here are the results on my windows machine. The accuracy results are seem to be different. Can you please share the model you are using?

[code]

[2021-10-19 08:37] talcs commented on #52
It appears that we run exactly the same command - I shared my run command in the first comment. Should I also upload the model file?

Note that the model was downloaded automatically, by running `bash examples/install_requirements.sh classify_image.py`, as guided [here](https://coral.ai/docs/accelerator/get-started/#3-run-a-model-on-the-edge-tpu). Since it is a Windows machine, I used Cygwin to ru

[2021-10-19 14:56] hjonnala commented on #52
Hi, Inference time might varies from system to system but accuracy should be same. The model accuracy has to be `0.75781 `. Can you please upload your model since you are getting `0.79297` accuracy.

Thanks

[2021-10-19 15:04] hjonnala commented on #52
I haven't seen this properly. You are trying CPU tflite model `mobilenet_v2_1.0_224_inat_bird_quant.tflite`. Can you please try with `mobilenet_v2_1.0_224_inat_bird_quant_edgetpu.tflite`

[2021-10-20 11:47] talcs opened #53 "Calling `make_interpreter()` crashes the sample `classify_image.py` script with no error message"
### Description

Hello,

I have a Windows 10 machine and I could only execute the Coral example using the old drivers (edgetpu_runtime_20210119), which caused abnormal runtimes of ~1800ms per image.

Later, I fixed the `install.bat` script in the latest version (edgetpu_runtime_20210726):

### Before change

    start /wait msiexec /i "%ROOTDIR%\third_party\usbdk\UsbDk_*.msi" /quiet /qb! /norestar

[2021-10-20 15:43] hjonnala commented on #53
Hi,  in this [issue](https://github.com/google-coral/tflite/issues/52#issue-1029196337) you are trying with cpu tflite model. Can you please try with `mobilenet_v2_1.0_224_inat_bird_quant_edgetpu.tflite`.

[2021-10-21 08:03] talcs commented on #53
Wow, thanks! I'm pretty shocked... wasn't aware of the fact that there were two files with similar names.

The updated output:

    C:\programs\coral\pycoral>python .\examples\classify_image.py --model .\test_data\mobilenet_v2_1.0_224_inat_bird_quant_edgetpu.tflite --labels .\test_data\inat_bird_labels.txt --input .\test_data\parrot.jpg
    ----INFERENCE TIME----
    Note: The first inference on E

[2021-10-21 08:03] #53 closed, assigned to hjonnala

[2021-10-21 08:05] talcs commented on #52
Thanks, this solved my problem! Didn't know that there were two files in that directory and that only one of them was intended for the TPU. 😃

[2021-10-21 08:05] #52 closed, assigned to hjonnala

[2021-12-02 16:46] hjonnala commented on #32
Here is the example with PyCoral API: https://github.com/google-coral/pycoral/blob/master/examples/semantic_segmentation.py

Feel free to reopen if you have any questions.

[2021-12-02 16:46] #32 closed

[2021-12-02 16:48] hjonnala commented on #50
Closing due to inactivity. Feel free to reopen if you have any questions. Thanks!

[2021-12-02 16:48] #50 closed

[2021-12-06 16:38] hjonnala commented on #51
@tyouritsugun can you please share the binary file for classify.cc.

Please try the [classsify_image.cc](https://github.com/google-coral/libcoral/blob/master/coral/examples/classify_image.cc) also from [libcoral](https://github.com/google-coral/libcoral) repo.

[2021-12-11 00:56] RobertFlatt opened #54 "tflite_runtime on Windows 11 raises a ValueError: Failed to load delegate from edgetpu.dll"
### Description

[code]
[code]

dll version:

![image](https://user-images.githubusercontent.com/34464649/145657527-d67b3d3f-ce8b-460e-9d71-41c9b65fe640.png)

Looks like https://github.com/google-coral/tflite/issues/46 Except this is **Windows 11**, is first time install of Edge TPU runtime, and tflite-runtime    is     2.5.0.post1

Tried a restart, no change. Any suggestions?

<details><summary>C

[2021-12-11 01:12] hjonnala commented on #54
@RobertFlatt  please try with [edgetpu runtime 13](https://github.com/google-coral/libedgetpu/releases/download/release-frogfish/edgetpu_runtime_20210119.zip). [Edgetpu runtime 14](https://coral.ai/software/#edgetpu-runtime) does not work on Windows.

[2021-12-11 20:03] RobertFlatt commented on #54
Works, thank you.

----INFERENCE TIME----
Note: The first inference on Edge TPU is slow because it includes loading the model into Edge TPU memory.
13.2ms
4.4ms
4.3ms
4.3ms
4.3ms
-------RESULTS--------
Ara macao (Scarlet Macaw): 0.75781

[2021-12-11 20:03] #54 closed, assigned to hjonnala

[2021-12-13 23:05] hjonnala commented on #51
Please try this command if you are using linux machine to resize image:

` convert cat.bmp -resize 224x224! resize_cat.bmp`

Feel free to reopen if you still having any issues. Thanks!

[2021-12-13 23:05] #51 closed

[2022-01-05 20:34] BasavaG commented on #54
I faced the same issue for long hours (maybe 2days). I Tried the below method and I got the results as expected.
uninstall Edge TPU runtime.
reboot the laptop.
Try installing a different version of edge tpu.
connect USB accelerator.
follow the further process.

If everything is ok, then LED on the USB accelerator blinks for a second, and the program runs successfully.

[2022-01-12 01:39] Haonan-99 opened #55 "ValueError"
I get erro when i run classify_capture.py :

mendel@mocha-quill:~/google-coral/examples-camera/pygame$ python3 classify_capture.py
pygame 1.9.4.post1
Hello from the pygame community. https://www.pygame.org/contribute.html
Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/tflite_runtime/interpreter.py", line 160, in load_delegate
    delegate = Delegate(library, options)
  F

[2022-01-12 03:51] manoj7410 commented on #55
@Elias9898 Which Coral board are you using ?

[2022-02-03 20:36] hjonnala commented on #55
Hello @Elias9898 The error is due to you might have stopped earlier any script with ctrl+z. If this is the case please reboot the board and try the script. Or somehow libedgetpu1-std package is missing. Please try to install libedgetpu1-std package and try the demo. Thanks!

https://coral.ai/software/#debian-packages

[2022-02-03 20:36] #55 closed, assigned to hjonnala

[2022-04-26 14:47] rfried-nrl commented on #51
I'm experiencing the same.
Ubuntu 21.04

Tried resizing using the command above. didn't work.

[2022-04-26 14:50] rfried-nrl opened #56 "can not open resized_cat.bmp v2"
### Description

Like #51 I experience the same.
The example application classify.cc fails reading the resized_cat.bmp

$ ./classify mobilenet_v1_1.0_224_quant_edgetpu.tflite imagenet_labels.txt resized_cat.bmp 0.0001
Cannot read image from resized_cat.bmp

$ convert cat.bmp -resize 224x224! resize_cat.bmp
$ file resize_cat.bmp
resize_cat.bmp: PC bitmap, Windows 98/2000 and newer format, 224 x 224

[2022-05-27 12:07] feranick opened #58 "Add support for python 3.10 for TFLite_runtime and PyCoral"
### Description

Currently the provided whl files are only for python 3.9 and below. Python 3.10 is the current stable version of Python and it is what ships with the LTS versions of Ubuntu and Debian. The lack of whls for TFLite_runtime and PyCoral makes any coral device useless with any system using Python 3.10.

<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### O

[2022-05-27 21:57] hjonnala commented on #58
Closing the issue here as we have duplicate issue at: https://github.com/google-coral/pycoral/issues/58

[2022-05-27 21:57] #58 closed, assigned to hjonnala

[2022-06-02 18:28] hjonnala commented on #56
Hello @rfried-nrl please try classify_image.cc form libcoral repo: https://github.com/google-coral/libcoral/tree/master/coral/examples

and here is a example on how to build your custom script: https://github.com/google-coral/edgetpu/issues/600#issuecomment-1145076778

Thanks!

[2022-07-21 09:50] DanilZittser opened #59 "Same predicted score for various oobjects"
### Description

Hi to all!

Why model often predict same score for various objects?

Below code snippet from detection README.md
[code]

I have a similar situation in my custom dataset: many identical scores.

![02-custom](https://user-images.githubusercontent.com/51195714/180185024-82c479a6-0a79-4d21-9d23-b1216f15f367.png)
![01-original](https://user-images.githubusercontent.com/51195714/1801850

[2022-07-21 16:31] hjonnala commented on #59
Can you please point me to the source of edgetpu model you are using and try the below steps:

[code]

[2022-07-27 17:18] DanilZittser commented on #59
Thanks!

I get the same result as you:
![Screenshot_20220727_201302](https://user-images.githubusercontent.com/51195714/181308714-501049e7-406f-4d3b-9fdb-e53ead4fee6d.png)

But in detection [README.md](https://github.com/google-coral/tflite/tree/master/python/examples/detection#run-the-code) the following problem:
![Screenshot_20220727_201705](https://user-images.githubusercontent.com/51195714/181

[2022-07-27 18:10] hjonnala commented on #59
It's because detection [README.md](https://github.com/google-coral/tflite/tree/master/python/examples/detection#run-the-code) is using the  old model from [edgetpu repo](https://github.com/google-coral/edgetpu/tree/master/test_data). Please get the updated models form [test_data repo](https://github.com/google-coral/test_data). Thanks!

[2022-07-27 18:31] #59 closed, assigned to hjonnala

[2022-10-18 22:12] puresilk commented on #46
I've stumbled into this erorr, and have found out an additional piece of information which might be valuable to the Coral dev team.

**Naive execution of the bat file (by double clicking it) will NOT install UsbDk.**

I identified the problem as being an asterisk reference to UsbDk, and patched it to the correct path (as in edgetpu_runtime_20210119, the last version which works for me)

[code]

Th

[2022-10-19 00:31] hjonnala commented on #46
@puresilk please try these steps to install runtime 14 on windows: https://github.com/google-coral/pycoral/issues/91#issuecomment-1264524697